---
title: INPUT Conference - твiй шлях в IT
keywords: INPUT, inputconf, conference, Kottans, Как найти первую работу, работа в IT, IT, frontend, backend, твiй шлях в IT, твой путь в IT, конфа, конференция, как стать айтишником, как стать мидлом, как войти в сферу IT, как стать дизайнером, Input conference, kottans frontend, курсы, бесплатные курсы frontend, котаны, Node.js, HTML, CSS, JavaScript, курсы IT
description: INPUT - Конфа з купою незатягнутих доповідей від людей, які працюють в IT, для людей, які ще тільки хочуть спробувати
twitter_summary: product
twitter_publisher: https://inputconf.org
twitter_title: Конференція Інпут
twitter_description: Конфа з купою незатягнутих доповідей від людей, які працюють в IT, для людей, які ще тільки хочуть спробувати.
twitter_author: '@inputconf'
twitter_image: ./img/fb-cover.jpg
og_title: Конференція Інпут
og_url: https://inputconf.org
og_image: ./img/fb-cover.jpg
og_description: Конфа з купою незатягнутих доповідей від людей, які працюють в IT, для людей, які ще тільки хочуть спробувати.
og_sitename: Input Conference
fb_admins: 100000306029323,100002579091222,100003342204377
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {% include "partials/_header.html" %}

  {% include "partials/_about.html" %}

  {% include "partials/_wait.html" %}

  {% include "partials/_sections.html" %}

  {% include "partials/_themes.html" %}

  {% include "partials/_speakers.html" %}

  {% include "partials/_organizers.html" %}

  {% include "partials/_aboutkottans.html" %}

  {% include "partials/_team.html" %}

  {% include "partials/_partners.html" %}

  {% include "partials/_tickets.html" %}

  {% include "partials/_contacts.html" %}

  {% include "partials/_footer.html" %}

{% endblock %}
