<section class="about-wrapper" id="about">
  <div class="container">
    <div class="about">
      <h2 class="about__title">Про подію</h2>
      <div class="about__text-wrapper">
        <p class="about__text">
          На Інпуті ми будемо говорити про те, як почати вчитися, знайти
          однодумців, як подолати складнощі властиві IT шляху, обрати професію в
          сфері та почати шукати першу роботу. Якщо ви любите котиків, смаколики
          і програмування — це до нас. А якщо ще не визначилися щодо останнього
          — точно до нас.
        </p>
      </div>
      <div class="about__slogan">
        <div class="about__slogan-start">
          <img
            data-srcset="/img/about/Slogan-start.svg"
            alt="Стоп і все ж таки"
            class="about__slogan-img lazy"
          />
        </div>
        <div class="about__img-wrapper">
          <img
            data-srcset="/img/about/Rotating_head.gif"
            alt="rotating thinking emoji"
            class="about__img lazy"
          />
        </div>
        <div class="about__slogan-end">
          <a href="https://kottans.org/">
            <img
              data-srcset="/img/about/Slogan-end.svg"
              alt="При чому тут котики?"
              class="about__slogan-img lazy"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
