<section class = "sections about-kottats">
	<div class = "container">
		<h2 class = "h2-sections">Що кажуть про <br>Коттанів</h2>
		<div class = "item">
			<img src = "./img/photo-1.svg" alt = "Igor Kurkov">
			<div class = "photo-content">
				<p class = "name">Ігор Курков<span>, DB2 Limited</span></h3>
				<p class = "photo-p">Веб — мое хобби. Если вы думаете, что войти в IT легко — сомневайтесь. <br><br>99% отваливаются на начальном этапе. Но с курсом Коттанов — у IT просто нет шансов перед вами. Коттанский фронтенд — это как британский спецназ, буткэмп от МИ-6.</p>
			</div>
		</div>
				<div class = "item">
			<img src = "./img/photo-2.svg" alt = "Anna Stepashko">
			<div class = "photo-content">
				<p class = "name">Анна Степашко<span>, "Відкриті публічні фінанси"</span></p>
				<p class = "photo-p">Котаны не только разжевывают базу и энное количество раз повторяют, чтобы дошло, но и очень хорошо тренируют самоорганизованность (лично у меня левел поднялся). <br><br>А еще это большая семья — всегда есть поддержка в чатах (если где-то застрял), совместные вылазки-шашлыки etc.</p>
			</div>
		</div>
				<div class = "item">
			<img src = "./img/photo-3.svg" alt = "Evgeniy Orlov">
			<div class = "photo-content">
				<p class = "name">Євген Орлов<span>, Adraba</span></p>
				<p class = "photo-p">Раджу курси Kottans всім, хто не шукає короткої стежки в IT, але хоче справді розбиратись в темі та бути досить затребуваним на ринку. Ці натхенні люди заряджають своїм ентузіазмом і дають поштовх рухатись далі — вчитись самому і допомагати іншим охочим навчитись.</p>
			</div>
		</div>
		<div class = "red-btn-wrapper">
      <a href = "https://dou.ua/forums/topic/25282/" class="about-link">
          Подивитись інші відгуки
      </a>
		</div>
	</div>
</section>
