{% set
  list = [
    {
      class: 'contacts__socials-facebook',
      link: 'https://www.facebook.com/inputconf/',
      img: '/img/facebook.svg',
      alt: 'Facebook icon'
    },
    {
      class: 'contacts__socials-telegram',
      link: 'https://t.me/inputconf',
      img: '/img/telegram.svg',
      alt: 'Telegram icon'
    },
    {
      class: 'contacts__socials-twitter',
      link: 'https://twitter.com/inputconf',
      img: '/img/twitter.svg',
      alt: 'Twitter icon'
    },
    {
      class: 'contacts__socials-mail',
      link: 'mailto:input.conf@gmail.com',
      img: '/img/mail.svg',
      alt: 'Mail icon'
    },
    {
      class: 'contacts__socials-mail',
      link: 'https://www.youtube.com/channel/UCygJxCJgNKns-EGttMqzGZQ',
      img: '/img/youtube.svg',
      alt: 'Youtube icon'
    }
  ]
  %}

<section class="contacts-wrapper" id="contacts">
  <div class="container">
    <div class="contacts">
      <h2 class="contacts__title">Контакти</h2>
      <div class="contacts__text">
        Приєднуйтесь до соціальних мереж
      </div>
      <div class="contacts__socials">

        {% for data in list %}
          <div class="{{data.class}}">
            <a href="{{data.link}}" class="contacts__socials-link">
              <img
                src="{{data.img}}"
                alt="{{data.alt}}"
                class="contacts__socials-img"
              />
            </a>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>
