<section class="contacts-wrapper">
  <div class="container">
    <div class="contacts">
      <h2 class="contacts__title">Контакти</h2>
      <div class="contacts__text">
        Приєднуйтесь до соціальних мереж
      </div>
      <div class="contacts__socials">
        <div class="contacts__socials-facebook">
          <a href="https://www.facebook.com/inputconf/" class="contacts__socials-link">
            <img src="/img/facebook.svg" alt="Facebook icon" class="contacts__socials-img">
          </a>
        </div>
        <div class="contacts__socials-telegram">
          <a href="https://t.me/inputconf" class="contacts__socials-link">
            <img src="/img/telegram.svg" alt="Telegram icon" class="contacts__socials-img">
          </a>
        </div>
        <div class="contacts__socials-twitter">
          <a href="https://twitter.com/inputconf" class="contacts__socials-link">
            <img src="/img/twitter.svg" alt="Twitter icon" class="contacts__socials-img">
          </a>
        </div>
        <div class="contacts__socials-mail">
          <a href="mailto:input.conf@gmail.com" class="contacts__socials-link">
            <img src="/img/mail.svg" alt="Mail icon" class="contacts__socials-img">
          </a>
        </div>
        <div class="contacts__socials-mail">
          <a href="https://www.youtube.com/channel/UCygJxCJgNKns-EGttMqzGZQ" class="contacts__socials-link">
            <img src="/img/youtube.svg" alt="Youtube icon" class="contacts__socials-img">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
