<footer class="footer-wrapper">
  <div class="container">
    <div class="footer">
      <div class="footer__love">
        <div class="footer__input-conf">
          <img src="/img/input-logo.svg" alt="Conference Logo" class="footer__input-conf-img">
        </div>
        <div class="footer__heart">
          <img src="/img/like.svg" alt="heart emoji" class="footer__heart-img">
        </div>
        <div class="footer__logo">
          <img src="/img/Kottans Logo.svg" alt="Kottans Logo" class="footer__logo-img">
        </div>
      </div>
      <div class="footer__text-wrapper">
        <p class="footer__text">
          Copyright 2019, All rights reserved
        </p>
      </div>
    </div>
</footer>
