<footer class="footer-wrapper">
  <div class="container">
    <div class="footer">
      <div class="footer__love">
        <div class="footer__input-conf">
          <a href="https://inputconf.org" target="_blank" title="inputconf.org">
            <img src="/img/footer/input-logo.svg" alt="Conference Logo" class="footer__input-conf-img">
          </a>
        </div>
        <div class="footer__heart">
          <span class="footer__heart-img">❤</span>
        </div>
        <div class="footer__logo">
          <a href="https://kottans.org" target="_blank" title="kottans.org">
            <img src="/img/footer/kottans_logo.svg" alt="Kottans Logo" class="footer__logo-img">
          </a>
        </div>
      </div>
    </div>
</footer>
