<header class="header">
  <div class="header-bg">
    <div class="header-bg-img"></div>
    <div class="rhombuses-darkus">
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
    </div>
  </div>
  <div class="header-content">
    <nav class="header-menu">
      <div class="menu-list-wrapper">
        <ul class="header-menu-list">
          <li><a href="#about">Як це буде</a></li>
          <li><a href="#wait">Що вас чекає</a></li>
          <li><a href="#sections">Секції</a></li>
          <li><a href="#themes">Теми</a></li>
          <li><a href="#speakers">До спікерів</a></li>
          <li><a href="#organizers">Організатори</a></li>
          <li><a href="#team">Наша команда</a></li>
          <li><a href="#contacts">Контакти</a></li>
        </ul>
      </div>
    </nav>
    <div class="header-center">
      <div class="header-logo" id="logo-animation-container"></div>
      <div class="header-center-text">
        <div class="header-text-wrapper">
          <p>Конфа з купою незатягнутих доповідей</p>
        </div>
        <div class="header-text-wrapper">
          <p>від людей, які працюють в IT, для людей,</p>
        </div>
        <div class="header-text-wrapper">
          <p>які ще тільки хочуть спробувати</p>
        </div>
        <div class="header-text-mobile">
          Конфа з купою незатягнутих доповідей від людей, які працюють в IT, для
          людей, які ще тільки хочуть спробувати
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="header-bottom-left">
        <p>Додати у <a href="#">Гугл календар</a></p>
        <h3>Дата визначається</h3>
      </div>
      <button class="header-bottom-button" type="button">
        Придбати квиток
      </button>
      <div class="header-bottom-right">
        <p>вул.Вулична, 123 <a href="">Відкрити на мапі</a></p>
        <h3>Місце визначається</h3>
      </div>
    </div>
  </div>
  <div class="hamburger" id="hamburger">
    <span class="hamburger-item"></span>
    <span class="hamburger-item"></span>
    <span class="hamburger-item"></span>
  </div>
</header>
