<section class="header">
  <div class="header-bg">
    <div class="header-bg-img"></div>
    <div class="rhombuses-darkus">
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
    </div>
  </div>
  <div class="header-content">
    <menu class="header-menu">
      <ul class="header-menu-list">
        <li><a href="#about">Як це буде</a></li>
        <li><a href="#wait">Що вас чекає</a></li>
        <li><a href="#sections">Секції</a></li>
        <li><a href="#themes">Теми</a></li>
        <li><a href="#speakers">До спікерів</a></li>
        <li><a href="#organizers">Організатори</a></li>
        <li><a href="#team">Наша команда</a></li>
        <li><a href="#contacts">Контакти</a></li>
      </ul>
    </menu>
    <div class="header-center">
      <div class="header-logo" id="logo-animation-container"></div>
      <div class="header-center-text">
        <div class="header-text-wrapper">
          <p>Конфа з купою незатягнутих доповідей</p>
        </div>
        <div class="header-text-wrapper">
          <p>від людей, які працюють в IT, для людей,</p>
        </div>
        <div class="header-text-wrapper">
          <p>які ще тільки хочуть спробувати</p>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="header-bottom-left">
        <p>
          Додати у календар: <a href="">Гугл</a>, <a href="">Епл</a>,
          <a href="">Віндоус</a>
        </p>
        <h3>Дата визначається</h3>
      </div>
      <button class="header-bottom-button" type="button">
        Хочу в IT
      </button>
      <div class="header-bottom-right">
        <p>вул.Вулична, 123 <a href="">Відкрити на мапі</a></p>
        <h3>Місце визначається</h3>
      </div>
    </div>
  </div>
</section>
