<header class="header">
  <div class="header-bg">
    <div class="header-bg-img"></div>
    <div class="rhombuses-darkus">
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
      <div class="rhombus"></div>
    </div>
  </div>
  <div class="header-content">
    <div class="header-top-spacer"></div>
    <nav class="header-menu">
      <div class="menu-list-wrapper">
        <ul class="header-menu-list">
          <li><a href="#about">Про подію</a></li>
          <li><a href="#sections">Секції</a></li>
          <li><a href="#themes">Теми</a></li>
          <li><a href="#speakers">Спікери</a></li>
          <li><a href="#organizers">Організатори</a></li>
          <li><a href="#team">Наша команда</a></li>
          <li><a href="#tickets">Квитки</a></li>
          <li><a href="#contacts">Контакти</a></li>
          <li>
            <a class="buy-a-ticket" href="https://inputconf.2event.com/">
              Придбати квиток
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="header-center">
      <div class="header-logo" id="logo-animation-container"></div>
      <div class="header-center-text">
        <div class="header-text-wrapper">
          <p>Конфа з купою незатягнутих доповідей</p>
        </div>
        <div class="header-text-wrapper">
          <p>від людей, які працюють в IT, для людей,</p>
        </div>
        <div class="header-text-wrapper">
          <p>які ще тільки хочуть спробувати</p>
        </div>
        <div class="header-text-mobile">
          Конфа з купою незатягнутих доповідей від людей, які працюють в IT, для
          людей, які ще тільки хочуть спробувати
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="header-bottom-left">
        <p>
          <!-- AddEvent button -->
          <a title="Add to Calendar" class="addeventatc" data-styling="none">
            Додати у календар
            <span class="start">5/25/2019 11:00 AM</span>
            <span class="end">5/25/2019 7:00 PM</span>
            <span class="timezone">Europe/Kyiv</span>
            <span class="title">INPUT - твiй шлях в IT</span>
            <span class="description">
              Конфа з купою незатягнутих доповідей від людей, які працюють в IT,
              для людей, які ще тільки хочуть спробувати
            </span>
            <span class="location">визначається</span>
            <span class="organizer">INPUT, Kottans</span>
            <span class="organizer_email">input.conf@gmail.com</span>
            <span class="all_day_event">false</span>
          </a>
        </p>
        <h3>25 травня</h3>
      </div>
      <div class="header-bottom-center">
        <a class="header-bottom-button" href="https://inputconf.2event.com/">
          Придбати квиток
        </a>
        <p class="header-bottom-subtext">
          «Ранні пташки» для перших 50
        </p>
      </div>
      <div class="header-bottom-right">
        <p>
          <a
            href="https://www.google.com.ua/maps/place/Innovecs/@50.4475273,30.4238173,15z/data=!4m5!3m4!1s0x0:0xf02de7f17976671f!8m2!3d50.4475273!4d30.4238173"
            target="_blank">
            Відкрити на мапі
          </a>
        </p>
        <h3>InnoHub</h3>
      </div>
    </div>
  </div>
  <div class="hamburger" id="hamburger">
    <span class="hamburger-item"></span>
    <span class="hamburger-item"></span>
    <span class="hamburger-item"></span>
  </div>
</header>
