
<section class="insired" id="inspired">
  <h3 class="media-partners__title">
    Надихають
  </h3>
  <div class="partners__item partners__item--sponsor" id = "partner_wix">
    <div class="partners__logo">
      <div class="media-partners__img media-partners__img--inspired" style="background-image:url(/img/partners/media/zlitIT.png)"></div>
    </div>
    <h3 class="partners__name">
      <a href="https://zlit.events/" class="partners__link">ZLIT</a>
    </h3>
    <p class="partners__description">
      Zlit - это слёт самых активных участников IT-сообществ Киева, это путешествие на темную сторону IT индустрии, это необычно и про людей.
    </p>
  </div>
</section>
