{% set
  list = [
    {
      id: 'partner_fwdays',
      img: 'fwdays.svg',
      link: 'https://fwdays.com/',
      name: 'fwdays',
      text: "fwdays проводить якісні заходи для розробників, архітекторів, СТО, тім та тех лідів, менеджерів проектів і всіх, хто пов'язаний з IT"
    },
    {
      id: 'partner_from_ua',
      img: 'from_ua.png',
      link: 'https://from-ua.com/',
      name: 'From-UA',
      text: "Відоме українське інтернет-видання From-UA є одним з найбільш популярних інформаційно-аналітичних і розважальних мережевих ЗМІ України."
    },
    {
      id: 'partner_prnews',
      img: 'prnews.png',
      link: 'https://prnews.io/',
      name: 'PRNEWS.IO',
      text: "PRNEWS.IO є одним з популярних інструментів з управління PR-активністю компанії в інтернеті. Заснована на концепції «все в одному вікні», PRNEWS.IO дозволяє бізнесу створювати і ділитися історіями з журналістами на власних умовах."
    },
    {
      id: 'partner_frontend_dev',
      img: 'FrontEndDev.jpg',
      link: 'https://t.me/front_end_dev',
      name: 'front_end_dev',
      text: "FrontEndDev - дайджест полезных материалов для front end разработчиков"
    },
    {
      id: 'partner_liga_net',
      img: 'liga.net.png',
      link: 'https://www.liga.net/',
      name: 'ЛІГА.net',
      text: "ЛІГА.net - незалежний діловий інформаційний портал. На сьогоднішній день ЛІГА.net - один з лідерів за охопленням аудиторії українського Інтернету, займає лідируючі позиції в сегменті новинних і ділових медіа. За даними профільних аудиторів Інституту масової інформації, портал - незмінний лідер за дотриманням журналістських стандартів серед великих українських інтернет-ЗМІ."
    },
    {
      id: 'partner_ain',
      img: 'ain.svg',
      link: 'https://ain.ua/',
      name: 'AIN.UA',
      text: "AIN.UA — популярний український інтернет-журнал, присвячений IT-бізнесу, стартапам, технологіям і підприємництву.
      Кожного місяця на ресурсі публікуються найважливіші новини, готуються власні історії, які читають понад два мільйони людей. Основа ЗМІ весь цей час - матеріали про те, що відбувається в українському інтернеті: угоди і запуски, історії успіху і невдачі, інструкції, розслідування. Також публікуються важливі світові новини."
    },
    {
      id: 'partner_interfax_ukraine',
      img: 'interfax.png',
      link: 'https://interfax.com.ua/',
      name: 'Інтерфакс-Україна',
      text: "Інтерфакс-Україна - лідер новин. Оперативно та об'єктивно про головне"
    },
    {
      id: 'partner_chernivci_js',
      img: 'chernivci.svg',
      link: 'https://chernivtsi.js.org/',
      name: 'ChernivtsiJS',
      text: "ChernivtsiJS - спільнота front-end розробників в місті Чернівці, в основному JavaScript програмістів. Організатор конференцій"
    },
    {
      id: 'partner_lviv_css',
      img: 'lvivcss.svg',
      link: 'https://lvivcss.org/',
      name: 'LvivCSS',
      text: "Організатор конференцій у Львові, присвячених веб-розробці"
    },
      {
      id: 'partner_jetbrains',
      img: 'jetbrains.svg',
      link: 'https://www.jetbrains.com/',
      name: 'JetBrains',
      text: "Виробник автоматизованих інструментів для розробки, якими користуються понад 15 років по всьому світу."
    }

  ]
%}

<div class="media-partners">
  <h3 class="media-partners__title">
    Медіа-партнери
  </h3>
  <div class="media-partners__grid">

    {% for data in list %}
      <div class="media-partners__item" id="{{data.id}}">
        <div class="media-partners__logo">
          <div class="media-partners__img lazy-background"
               data-bg="url(/img/partners/media/{{data.img}})"
               >
          </div>
        </div>
        <div class="media-partners__name">
          <a href="{{data.link}}" class="media-partners__link">
            {{data.name}}
          </a>
        </div>
        <div class="media-partners__text">
          <p>
            {{data.text}}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
