{# Description no longer than 155 characters #}
<!-- <meta name="description" content="{{ description }}"/> -->
<!-- Twitter Card data -->
<meta name="twitter:card" content="product" />
<meta name="twitter:site" content="https://inputconf.org" />
<meta name="twitter:title" content="Конференція Інпут" />
<meta
  name="twitter:description"
  content="Конфа з купою незатягнутих доповідей від людей, які працюють в IT, для людей, які ще тільки хочуть спробувати"
/>
<meta name="twitter:creator" content="@inputconf" />
{# Twitter Summary card images must be at least 120x120px #}
<meta name="twitter:image" content="img/fb-cover.jpg" />

<!-- Open Graph data -->
<meta property="og:title" content="Конференція Інпут" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://inputconf.org" />
<meta property="og:image" content="img/fb-cover.jpg" />
<meta
  property="og:description"
  content="Конфа з купою незатягнутих доповідей від людей, які працюють в IT, для людей, які ще тільки хочуть спробувати"
/>
<meta property="og:site_name" content="Input Conference" />
<meta
  property="fb:admins"
  content="100000306029323,100002579091222,100003342204377"
/>
