<section class="organizers__wrapper" id="organizers">
  <div class="container">
    <div class="organizers">
      <h2 class="organizers__title">
        Організатори
      </h2>
      <div class="organizers__kottans">
        <div class="organizers__column-left">
          <img
            class="organizers__kottans-gradient-title"
            src="/img/kottans-title.svg"
            alt="Заголовок Коттанс"
          />
          <h3 class="organizers__h3">Хто ми?</h3>
          <p class="organizers__p">
            Ми — некомерційна організація ентузіастів в ІТ, і ми маємо за мету
            поширювати якісні знання і розвивати ІТ галузь країни.
          </p>
          <p class="organizers__p">
            Останні 7 років ми допомагаємо одне одному професійно зростати, а
            новачкам навчатися і входити в професію.
          </p>
          <h3 class="organizers__h3">Навіщо ми це робимо?</h3>
          <p class="organizers__p">
            Ми зацікавлені в колегах — професіоналах і зростанні загального
            професійного рівня спеціалістів у галузі.
          </p>
          <p class="organizers__p">
            Щороку ми запускаємо курси і створюємо навчальні групи в різних
            містах України.
          </p>
          <p class="organizers__p">
            Успішно провели навчання з напрямків: WEB, C#, Ruby в Харкові,
            Києві, Львові та Чернівцях.
          </p>
          <p class="organizers__p">
            Наразі проводимо курси з фронтенду в офлайн-форматі (Київ) і
            peer-to-peer, організовано навчальну групу з вивчення Computer
            Science.
          </p>
          <p class="organizers__p">
            Найближчим часом планується запуск курсу фронтенд в Чернівцях,
            бекенд курсу і проведення конференції для новачків в світі ІТ.
          </p>
        </div>
        <div class="organizers__column-right">
          <img
            class="organizers__icon"
            src="/img/kottans-gradient.svg"
            alt="Лого Коттанс"
          />
        </div>
      </div>
      <div class="organizers__kottans-citation">
        <img
          class="organizers__citation-img"
          src="/img/kottans-big-citation.svg"
          alt="Текст на фото: Ми не пропонуємо чарівних пігулок, не гарантуємо легкого і миттєвого злету, адже шлях навчання і вдосконалення може бути доволі тернистим. Але після конференції ти точно матимеш чітке уявлення про професію, мотивацію і план подальших дій."
        />
        <img
          class="organizers__citation-img--mobile"
          src="/img/kottans-big-citation-mobile.svg"
          alt="Текст на фото: Ми не пропонуємо чарівних пігулок, не гарантуємо легкого і миттєвого злету, адже шлях навчання і вдосконалення може бути доволі тернистим. Але після конференції ти точно матимеш чітке уявлення про професію, мотивацію і план подальших дій."
        />
      </div>
    </div>
  </div>
</section>
