<section class = "sections" id="sections_conf">
	<div class = "container">
		<h2 class = "h2-sections">Секції конференції</h2>
		<div class = "conf-wrapper">
			<ul>
				<li class = "schedule-item">10:00-11:00 - Реєстрація</li>
				<li class = "schedule-item">11:00-11:20 - Інтро до змісту конференції</li>
				<li class = "schedule-item">11:20-12:15 - <a href="#personal-exp">Секція Особистий досвід</a></li>
				<li class = "schedule-item">12:15-12:35 - Кава-брейк</li>
				<li class = "schedule-item">12:35-13:25 - <a href="#study">Секція Навчання</a></li>
				<li class = "schedule-item">13:25-14:15 - <a href="#community">Секція Ком'юніті</a> (модератор Сергій Фролов)</li>
				<li class = "schedule-item">14:15-15:15 - Обідня перерва</li>
				<li class = "schedule-item">15:15-16:15 - <a href="#practice">Практикум</a></li>
				<li class = "schedule-item">16:15-16:35 - Кава-брейк</li>
				<li class = "schedule-item">16:35-18:10 - <a href="#career">Секція Кар'єра</a></li>
				<li class = "schedule-item">18:10-18:30 - Підсумок конференції</li>
				<li class = "schedule-item">18:30-19:30 - <a href="#microphone">Відкритий мікрофон / Нетворкінг</a></li>
			</ul>
			<br>
			<div class = "section-buttons">
				<div class="header-bottom-center header-bottom-block">
              		<a class="header-bottom-button" href="https://inputconf.2event.com/"> Придбати квиток </a>
            	</div>
            	<br>
            	<div class="header-bottom-center section-bottom-block">
              		<a href="#personal-exp" class="about-link"> Всі теми секцій </a>
            	</div>
            	<br>
            	<div class="header-bottom-center header-bottom-block">
              		<a href="#speakers" class="about-link"> Спікери </a>
            	</div>
			</div>
			<hr>
			<div class = "details-wrapper">
				<a name="personal-exp"></a>
				<br>
				<h3 class = "h3-schedule">Особистий досвід</h3>
				<h4 class = "h4">Мій шлях до ІТ</h4>
				<p>Олексій Іванов (Фрілансер)</p>
				<h4 class = "h4">Від волонтера до операційного директора за 3 роки</h4>
				<p>Аліна Шепшелей (Innovations Development Lab, COO)</p>
				<h4 class = "h4">Перехід до ІТ з другого дубля</h4>
				<p>Євгенія Шурупова (Global Logic, Senior Usability Designer)</p>
				<h4 class = "h4">Самозванець</h4>
				<p>Сергій Кошман (Levi9, Frontend developer)</p>
				
				<a name="study"></a>
				<br>
				<h3 class = "h3-schedule">Навчання</h3>
				<h4 class = "h4">Як мотивувати себе за допомогою ком'юніті</h4>
				<p>Артем Сичов (Engineering Manager)</p>
				<h4 class = "h4">Burning out: посібник для новачків</h4>
				<p>Дарія Швидка (NDA Company, UI Developer)</p>
				<h4 class = "h4">Факап - кращий вчитель</h4>
				<p>Андрій Андрійко (Uptech, Backend engineer)</p>

				<a name="community"></a>
				<br>
				<h3 class = "h3-schedule">Ком'юніті</h3>
				<span class = "details-span">Модератор - Сергій Фролов</span>
				<br>
				<h4 class = "h4">BeerJS, ZLIT.events</h4>
				<p>Сергій Фролов (BeerJS advocate)</p>
				<h4 class = "h4">ChernivtsiJS</h4>
				<p>Денис Довгань (Wix, R&D Egineer)</p>
				<h4 class = "h4">KyivJS</h4>
				<p>Андрій Лісточкін (Wix, Developer)</p>
				<h4 class = "h4">Summer ML school</h4>
				<p>Олександр Лапшин (RailsReactor, R&D Software Engineer)</p>
				<h4 class = "h4">WWC Kyiv</h4>
				<p>Наталія Ільченко (Women Who Code Kyiv Director)</p>
				<h4 class = "h4">IT KPI</h4>
				<p>Микола Симотюк (Crello, Node.js developer)</p>
				<h4 class = "h4">Kottans</h4>
				<p>Іван Титаренко (WIX, frontend developer)</p>

				<a name="practice"></a>
				<br>
				<h3 class = "h3-schedule">Практикум</h3>
				<h4 class = "h4">Roadmap пошуку роботи</h4>
				<p><span class = "bold">Анна Дановська</span> (IT Recruiter (Uptech),
				кар'єрний консультант (Рекрутинг Навпаки))</p>
				<p><span class = "bold">Катерина Шарлай</span> (Uvoteam, Senior Recruiter)</p>
				<h4 class = "h4">Редагуємо резюме разом (воркшоп)</h4>
				<p><span class = "bold">Анна Дановська</span> (IT Recruiter (Uptech),
				кар'єрний консультант (Рекрутинг Навпаки))</p>

				<a name="career"></a>
				<br>
				<h3 class = "h3-schedule">Кар'єра</h3>
				<h4 class = "h4">Портрет українського Junior ІТ-спеціаліста</h4>
				<p>Владислава Зацаринна (DOU.ua, головний редактор)</p>
				<h4 class = "h4">Історія попелюшки в ІТ або ПМ в 21</h4>
				<p>Оксана Миколенко (Together Networks, Junior Product manager)</p>
				<h4 class = "h4">Робота з людьми за межами технічних проектів</h4>
				<p>Марія Заруднєва (Star, People Partner)</p>
				<h4 class = "h4">Дизайн-ріст</h4>
				<p>Максим Ткачук (Співзасновник, партнер в Apollo Design Center)</p>
				<h4 class = "h4">Способи якими я отримував запрошення на співбесіду</h4>
				<p>Михайло Рудий (ThingsBoard, Middle Java Developer)</p>
				<h4 class = "h4">Чого роботодавець чекає від джуна</h4>
				<p>Олександр Міхненко (Star, Senior DevOps Engineer)</p>
				<h4 class = "h4">Пиши опенсорс!</h4>
				<p>Денис Довгань (Wix, R&D Egineer)</p>

				<a name="microphone"></a>
				<br>
				<h3 class = "h3-schedule">Відкритий мікрофон та нетворкінг</h3>
				<p><span class = "bold">Відкритий мікрофон -</span>
					<br>
				це можливість для кожного розповісти про себе, або про своє ком'юніті, або просто цікаву історію про пошук роботи чи побудову кар'єри, чи навчання; поділитись досвідом та порадою	
				</p>
				<p><span class = "bold">Нетворкінг -</span>
					<br>
				це можливість здобути нові соціальні зв'язки.<br>
				Ми поділимось нескладними рецептами нетворкінгу.	
				</p>
			</div>
		</div>
	   

	</div>
</section>