<section class = "sections" id="sections">
	<div class = "container">
		<h2 class = "h2-sections">Секції</h2>
		<div class = "section-item">
			<div class = "number-content">
				<h3>Особистий шлях в ІТ</h3>
				<p>Вчорашні студенти, митці, філологи, світчери, що освоїли інженерні професії або розпочали кар'єру в HR, менеджменті, продажах розкажуть про проблеми, з якими часто стикаються новачки і шляхи їх подолання.</p>
			</div>
		</div>
				<div class = "section-item">
			<div class = "number-content">
				<h3>Навчання</h3>
				<p>Як і де вчитися? який стек технологій і як обирати? як успішно свічнутися? курси або самоосвіта, плюси і мінуси?</p>
			</div>
			<div class = "clearfix"></div>
		</div>
				<div class = "section-item">
			<div class = "number-content">
				<h3>Відкриті IT ком'юніті</h3>
				<p>Знайомство зі спільнотами; спілкування, підтримка, ком'юніті - як і де їх шукати?</p>
			</div>
			<div class = "clearfix"></div>
		</div>
				<div class = "section-item">
			<div class = "number-content">
				<h3>Кар'єра</h3>
				<p>З чого почати пошук роботи, ідеальне резюме, співпраця з рекрутерами, перша робота і багато іншого.</p>
			</div>
			<div class = "clearfix"></div>
		</div>
	</div>
</section>
