<section class="speackers" id="speackers">
  <div class="container">
    <h2 class="h2-sections">Наші спікери</h2>
    <div class="speakers__grid">
      <article class="speakers__item">
        <img src="./img/speakers/people/Shvydka.jpg" alt="" class="speakers__image">
        <a href="https://twitter.com/sonnyberkowitz" class="speakers__link">Дар`я Швидка</a>
        <p class="speakers__position">Ui developer</p>
        <p class="speakers__company">Siftery</p>
      </article>
      <article class="speakers__item">
        <img src="./img/speakers/people/Shvydka.jpg" alt="" class="speakers__image">
        <a href="https://twitter.com/sonnyberkowitz" class="speakers__link">Дар`я Швидка</a>
        <p class="speakers__position">Ui developer</p>
        <p class="speakers__company">Siftery</p>
      </article>
      <article class="speakers__item">
        <img src="./img/speakers/people/Shvydka.jpg" alt="" class="speakers__image">
        <a href="https://twitter.com/sonnyberkowitz" class="speakers__link">Дар`я Швидка</a>
        <p class="speakers__position">Ui developer</p>
        <p class="speakers__company">Siftery</p>
      </article>
      <article class="speakers__item">
        <img src="./img/speakers/people/Shvydka.jpg" alt="" class="speakers__image">
        <a href="https://twitter.com/sonnyberkowitz" class="speakers__link">Дар`я Швидка</a>
        <p class="speakers__position">Ui developer</p>
        <p class="speakers__company">Siftery</p>
      </article>
    </div>
  </div>
</section>
