{% set
  list = [
    {
      img: 'Zatsarinnaya.jpg',
      img2: 'Zatsarinnaya2x.jpg',
      name: "Владислава Зацаринна",
      link: 'https://www.facebook.com/vladislava.zatsarinnaya',
      position: 'Головний редактор',
      company: "DOU.ua"
    },
    {
      img: 'Zarudnieva.jpg',
      img2: 'Zarudnieva.jpg',
      name: "Марія Заруднєва",
      link: 'https://www.facebook.com/masha.zarudnieva',
      position: 'People Partner',
      company: "Star"
    },
    {
      img: 'Shvydka.jpg',
      img2: 'Shvydka2x.jpg',
      name: "Дар'я Швидка",
      link: 'https://twitter.com/sonnyberkowitz',
      position: 'UI Developer',
      company: "NDA Company"
    },
    {
      img: 'frolov.jpg',
      img2: 'frolov2x.jpg',
      name: " Сергій Фролов",
      link: 'https://www.facebook.com/sergey.frolov',
      position: 'Lead Frontend Engineer',
      company: "rabota.ua"
    },
    {
      img: 'Shurupova.jpg',
      img2: 'Shurupova2x.jpg',
      name: "Євгенія Шурупова",
      link: 'https://www.facebook.com/evgeniya.shurupova',
      position: 'Senior Usability Designer',
      company: "Global Logic"
    },
    {
      img: 'Mikhnenko.jpg',
      img2: 'Mikhnenko.jpg',
      name: "Олександр Міхненко",
      link: 'https://www.facebook.com/toklian',
      position: 'Senior DevOps Engineer',
      company: "Star"
    },
    {
      img: 'Titarenko.jpg',
      img2: 'Titarenko2X.jpg',
      name: "Іван Титаренко",
      link: 'https://www.facebook.com/ititarenko',
      position: 'Frontend developer',
      company: "Wix"
    },
    {
      img: 'Lapshyn.jpg',
      img2: 'Lapshyn.jpg',
      name: "Олександр Лапшин",
      link: 'https://twitter.com/sudodoki',
      position: 'R&D Software Engineer',
      company: "RailsReactor"
    },
    {
      img: 'Ilchenko.jpg',
      img2: 'Ilchenko2x.jpg',
      name: "Наталія Ільченко",
      link: 'https://www.facebook.com/n.ilchenko90',
      position: 'Director',
      company: "Women Who Code Kyiv"
    },
    {
      img: 'Listochkin.jpg',
      img2: 'Listochkin2x.jpg',
      name: "Андрій Лісточкін",
      link: 'https://twitter.com/listochkin',
      position: 'Developer',
      company: "Wix"
    },
    {
      img: 'Dovhan.jpg',
      img2: 'Dovhan2x.jpg',
      name: "Денис Довгань",
      link: 'https://www.facebook.com/denysdovhan',
      position: 'R&D Engineer',
      company: "Wix"
    },
    {
      img: 'Gryko.jpg',
      img2: 'Gryko2x.jpg',
      name: "Piotr Gryko",
      link: 'https://www.facebook.com/piotr.gryko',
      position: 'R&D Software Engineer',
      company: ""
    },
    {
      img: 'Ivanov.jpg',
      img2: 'Ivanov2x.jpg',
      name: "Олексій Іванов",
      link: 'https://www.facebook.com/alex.ivanov.7568596',
      position: 'Frontend developer',
      company: "freelance"
    },
    {
      img: 'AnnaDanovska.jpg',
      img2: 'AnnaDanovska.jpg',
      name: "Анна Дановська",
      link: 'https://www.facebook.com/anna.kendz',
      position: 'IT Recruiter',
      company: "Uptech"
    },
    {
      img: 'Sharlay.jpg',
      img2: 'Sharlay.jpg',
      name: "Катя Шарлай",
      link: 'https://www.facebook.com/profile.php?id=100010665877124',
      position: 'Senior Recruiter',
      company: "Uvoteam"
    },
    {
      img: 'Shepsheley.jpg',
      img2: 'Shepsheley2x.jpg',
      name: "Аліна Шепшелей",
      link: 'https://www.facebook.com/alinashepshelei',
      position: 'COO',
      company: "Innovations Development Lab"
    },
    {
      img: 'Suchov.jpg',
      img2: 'Suchov.jpg',
      name: "Артем Сичов",
      link: 'https://www.facebook.com/suchov',
      position: 'Engineering Manager'
    },
    {
      img: 'Mykolenko.jpg',
      img2: 'Mykolenko2x.jpg',
      name: "Оксана Миколенко",
      link: 'https://www.facebook.com/oksana.mikolenko',
      position: 'Junior Product manager',
      company: "Together Networks"
    },
    {
      img: 'Tkachuk.jpg',
      img2: 'Tkachuk2x.jpg',
      name: "Максим Ткачук",
      link: 'https://ua.linkedin.com/in/maxtkachuk/ru',
      position: 'Співзасновник, партнер',
      company: "Apollo Design Center"
    },
    {
      img: 'Andriiko.jpg',
      img2: 'Andriiko2x.jpg',
      name: "Андрій Андрійко",
      link: 'https://www.facebook.com/andrey.andriyko',
      position: 'Backend engineer',
      company: "Uptech"
    },
    {
      img: 'Landvytovych.jpeg',
      img2: 'Landvytovych.jpeg',
      name: "Христина Ландвитович",
      link: 'https://www.facebook.com/cristina.landvytovych',
      position: 'Frontend developer',
      company: "UVO Team"
    },
    {
      img: 'Koshman.jpg',
      img2: 'Koshman.jpg',
      name: "Сергій Кошман",
      link: 'https://www.facebook.com/prosto.koshman',
      position: 'Frontend developer',
      company: "Levi9"
    },
    {
      img: 'Rudyy.jpg',
      img2: 'Rudyy2x.jpg',
      name: "Михайло Рудий",
      link: 'https://www.facebook.com/people/Mike-Rudyy/100008290425562',
      position: 'Middle Java Developer',
      company: "ThingsBoard"
    },
    {
      img: 'Andrushchenko.jpg',
      img2: 'Andrushchenko2x.jpg',
      name: "Денис Андрущенко",
      link: 'https://www.facebook.com/da.orient',
      position: 'Менеджер',
      company: "GeekHub"
    },
    {
      img: 'Rudenko.jpg',
      img2: 'Rudenko2x.jpg',
      name: "Олексій Руденко",
      link: 'https://fb.me/oleksiy.rudenko.5',
      position: 'Director of Data Management',
      company: "Ring Ukraine"
    }
  ]
%}

<section class="speackers" id="speakers">
  <div class="container">
    <h2 class="h2-sections">Наші спікери</h2>
    <div class="speakers__grid">

      {% for data in list %}
      <article class="speakers__item">
        <div class="speakers__image-wrapper">
          <picture>
            <source srcset="./img/speakers/people/{{data.img2}}" media="(max-width: 767px)">
            <img src="./img/speakers/people/{{data.img}}"
                alt="{{data.name}}"
                class="speakers__image">
          </picture>
        </div>
        <a href="{{data.link}}" class="speakers__link" target="_blank">{{data.name}}</a>
        <p><span class="speakers__position">{{data.position}}</span></p>
        <p class="speakers__company">{{data.company}}</p>
      </article>
      {% endfor %}
    </div>
  </div>
</section>
