{% set
  list = [
    {
      img: 'Shvydka.jpg',
      img2: 'Shvydka2x.jpg',
      name: "Дар'я Швидка",
      link: 'https://twitter.com/sonnyberkowitz',
      position: 'UI Developer',
      company: "Siftery"
    },
    {
      img: 'lylyk.jpg',
      img2: 'lylyk2X.jpg',
      name: "Діма Лилик",
      link: 'https://www.facebook.com/dima.lylyk',
      position: 'Brand Ambassador',
      company: "Rails Reactor"
    },
    {
      img: 'Shurupova.jpg',
      img2: 'Shurupova2x.jpg',
      name: "Євгенія Шурупова",
      link: 'https://www.facebook.com/evgeniya.shurupova',
      position: 'Senior Usability Designer',
      company: "Global Logic"
    },
    {
      img: 'Mikhnenko.jpg',
      img2: 'Mikhnenko.jpg',
      name: "Олександр Міхненко",
      link: 'https://www.facebook.com/toklian',
      position: 'Senior DevOps Engineer',
      company: "Star"
    },
    {
      img: 'Titarenko.jpg',
      img2: 'TitarenkoX2.jpg',
      name: "Іван Титаренко",
      link: 'https://www.facebook.com/ititarenko',
      position: 'Frontend developer',
      company: "Wix"
    },
    {
      img: 'Lapshyn.jpg',
      img2: 'Lapshyn.jpg',
      name: "Олександр Лапшин",
      link: 'https://twitter.com/sudodoki',
      position: 'R&D Software Engineer',
      company: "RailsReactor"
    },
    {
      img: 'Ilchenko.jpg',
      img2: 'IlchenkoX2.jpg',
      name: "Наталія Ільченко",
      link: 'https://www.facebook.com/n.ilchenko90',
      position: 'Director',
      company: "Women Who Code Kyiv"
    },
    {
      img: 'Listochkin.jpg',
      img2: 'ListochkinX2.jpg',
      name: "Андрій Лісточкін",
      link: 'https://twitter.com/listochkin',
      position: 'Developer',
      company: "Wix"
    },
    {
      img: 'Gryko.jpg',
      img2: 'GrykoX2.jpg',
      name: "Piotr Gryko",
      link: 'https://www.facebook.com/piotr.gryko',
      position: 'R&D Software Engineer',
      company: ""
    },
    {
      img: 'Ivanov.jpg',
      img2: 'IvanovX2.jpg',
      name: "Олексій Іванов",
      link: 'https://www.facebook.com/alex.ivanov.7568596',
      position: 'Frontend developer',
      company: "freelance"
    }
  ]
%}

<section class="speackers" id="speakers">
  <div class="container">
    <h2 class="h2-sections">Наші спікери</h2>
    <div class="speakers__grid">

      {% for data in list %}
      <article class="speakers__item">
        <div class="speakers__image-wrapper">
          <picture>
            <source srcset="./img/speakers/people/{{data.img2}}" media="(max-width: 767px)">
            <img src="./img/speakers/people/{{data.img}}"
                alt="{{data.name}}"
                class="speakers__image">
          </picture>
        </div>
        <a href="{{data.link}}" class="speakers__link">{{data.name}}</a>
        <p><span class="speakers__position">{{data.position}}</span></p>
        <p class="speakers__company">{{data.company}}</p>
      </article>
      {% endfor %}
    </div>
  </div>
</section>
