<section class = "our-team" id="team">
	<div class="photo-wrapper">
    <h2 class = "heading-team">Наша команда</h2>
    <div class="img-wrapper">
      <img src = "/img/photo.jpg" alt = "group photo" class="team-photo">
    </div>
  </div>
  <div class = "wrapper-links">
    <div class = "inner-links">
      <p class="member"><a href="https://twitter.com/OleksiyRudenko" class="member-link">Олексій Руденко</a> - Арт-директор</p>
      <p class="member"><a href="https://twitter.com/thedenoff" class="member-link">Денис Лук'яненко</a> - Дизайнер/Верстальник</p>
      <p class="member"><a href="https://twitter.com/yulyasystem" class="member-link">Юлія Бекеньова</a> - Дизайнер/Верстальник</p>
      <p class="member"><a href="https://twitter.com/tsapkoandrey" class="member-link">Андрій Цапко</a> - Копірайтер</p>
      <p class="member"><a href="https://twitter.com/fedirkomary" class="member-link">Марія Федірко</a> - Копірайтер</p>
      <p class="member"><a href="https://twitter.com/ArtemSuchov" class="member-link">Артем Сичов</a> - Головний Коттан</p>
      <p class="member"><a href="https://twitter.com/Alex_Ostrovny" class="member-link">Олександр Островний</a> - Верстальник</p>
      <p class="member"><a href="https://github.com/lenadgit" class="member-link">Олена Драган</a> - Верстальник</p>
      <p class="member"><a href="https://twitter.com/feroxes" class="member-link">Ярік Гармаш</a> - Маркетолог</p>
      <p class="member"><a href="https://github.com/iamsokol" class="member-link">Дмитрий, а вообще Влад</a> - Розробник</p>
      <p class="member"><a href="https://twitter.com/annyamilo" class="member-link">Анна Алімова</a> - Менеджер</p>
      <p class="member"><a href="https://twitter.com/maks_kalashnyk" class="member-link">Максим Калашник</a> - Менеджер</p>
      <p class="member"><a href="https://www.facebook.com/profile.php?id=100009678078745" class="member-link">Альона Кузнецова</a> - PR</p>
    </div>
  </div>
</section>
