{% set
  rows = [
    [
      { 
        position: "Ідея", 
        people: [
          {
            name: "Олексій Руденко",
            link: "fb.me/oleksiy.rudenko.5"
          }
        ]
      }, { 
        position: "Дизайнери", 
        people: [
          {
            name: "Денис Лук'яненко",
            link: "https://t.me/thedenoff"
          },
          {
            name: "Юлія Бекеньова",
            link: "https://t.me/yulyasystem"
          }
        ]
      }, { 
        position: "Копірайтери", 
        people: [
          {
            name: "Андрій Цапко",
            link: "fb.me/andrew.tsapko"
          }, 
          {
            name: "Марія Федірко",
            link: "fb.me/skavica"
          }
        ]
      }, { 
        position: "Головний коттан", 
        people: [
          {
            name: "Артем Сичов",
            link: "https://twitter.com/ArtemSuchov"
          }
        ]
      }
    ],
    [
      { 
        position: "Верстальники", 
        people: [
          {
            name: "Олександр Островний",
            link: "https://twitter.com/Alex_Ostrovny"
          },
          {
            name: "Денис Лук'яненко",
            link: "https://t.me/thedenoff"
          },
          {
            name: "Юлія Бекеньова",
            link: "https://t.me/yulyasystem"
          },
          {
            name: "Олена Драган",
            link: "https://github.com/lenadgit"
          }
        ]
      }, { 
        position: "Маркетологи", 
        people: [
          {
            name: "Ярік Гармаш",
            link: "fb.me/yarik.garmash"
          }, 
          {
            name: "Богдан Ковальчук",
            link: "fb.me/bohdan.kovalchuk.589"
          }
        ]
      }, { 
        position: "Менеджери", 
        people: [
          {
            name: "Анна Алімова",
            link: "https://twitter.com/annyamilo"
          }, 
          {
            name: "Максим Калашник",
            link: "fb.me/mkalashnyk"
          }
        ]
      }, { 
        position: "PR", 
        people: [
          {
            name: "Альона Кузнецова",
            link: "https://www.facebook.com/profile.php?id=100009678078745"
          }
        ]
      }
    ]
  ]
%}

<section class = "our-team" id="team">
	<div class="photo-wrapper">
    <h2 class = "heading-team">Наша команда</h2>
    <div class="img-wrapper">
      <img src = "/img/photo.jpg" alt = "group photo" class="team-photo">
    </div>
  </div>
  <div class = "wrapper-links">
    <div class = "inner-links">

      {% for row in rows %}

      <div class = "row">
        {% for column in row %}
        <div class = "column">
          <h3>{{ column.position }}</h3>
          {% for person in column.people %}
            <a href={{ person.link }}>{{ person.name }}</a>
          {% endfor %}
        </div>
        {% endfor %}
      </div>

      {% endfor %}

    </div>
  </div>
</section>
