<section class = "our-team" id="team">
	<div class="photo-wrapper">
    <h2 class = "heading-team">Наша команда</h2>
    <div class="img-wrapper">
      <img src = "/img/photo.jpg" alt = "group photo" class="team-photo">
    </div>
  </div>
  <div class = "wrapper-links">
    <div class = "inner-links">
      <div class = "row">
        <div class = "column">
          <h3>Арт-директор</h3>
          <a href = "https://twitter.com/OleksiyRudenko">Олексій Руденко</a>
        </div>
        <div class = "column">
          <h3>Дизайнери</h3>
          <a href = "https://twitter.com/thedenoff">Денис Лук'яненко</a>
          <a href = "https://twitter.com/yulyasystem">Юлія Бекеньова</a>
        </div>
        <div class = "column">
          <h3>Копірайтери</h3>
          <a href = "https://twitter.com/tsapkoandrey">Андрій Цапко</a>
          <a href = "https://twitter.com/fedirkomary">Марія Федірко</a>
        </div>
        <div class = "column">
          <h3>Проти маріхуани</h3>
          <a href = "https://twitter.com/yulyasystem">Юлія Бекеньова</a>
        </div>
      </div>
      <div class = "row">
        <div class = "column">
          <h3>И уже не буду</h3>
          <span>Я писал, что</span>
          <span>В лампочке</span>
          <span>Ужас Пола.</span>
        </div>
        <div class = "column">
          <h3>Что любовь, как акт</h3>
          <span>Лишина Глагола.</span>
          <span>Что не знал Эвклид</span>
        </div>
        <div class = "column">
          <h3>Что сходя на конус</h3>
          <span>Вещь Обретает</span>
          <span>Не ноль, но Хронос.</span>
        </div>
        <div class = "column">
          <h3>Я сижу у окна</h3>
          <span>Вспоминаю Юность,</span>
          <span>Улыбнусь Порою,</span>
          <span>Порой Отплюнусь.</span>
        </div>
      </div>
      <div class = "row">
        <div class = "column">
          <h3>Головний Коттан</h3>
          <a href = "https://twitter.com/ArtemSuchov">Артем Сичов</a>
        </div>
        <div class = "column">
          <h3>Верстальники</h3>
          <a href = "https://twitter.com/Alex_Ostrovny">Олександр Островний</a>
          <span>Олена Драган</span>
          <a href = "https://twitter.com/thedenoff">Денис Лук'яненко</a>
          <a href = "https://twitter.com/yulyasystem">Юлія Бекеньова</a>
        </div>
        <div class = "column">
          <h3>Маркетолог</h3>
          <a href = "https://twitter.com/feroxes">Ярослав Гармаш</a>
        </div>
        <div class = "column">
          <h3>Розробник</h3>
          <a href = "https://github.com/iamsokol">Дмитрий, а вообще Влад</a>
        </div>
      </div>
      <div class = "row">
        <div class = "column">
          <h3>Менеджери</h3>
          <a href = "https://twitter.com/annyamilo">Анна Алімова</a>
          <a href = "https://twitter.com/maks_kalashnyk">Максим Калашник</a>
        </div>
        <div class = "column">
          <h3>Я сижу у окна</h3>
          <span>Я помил Посуду</span>
          <span>Я был Счастлив сдесь</span>
        </div>
        <div class = "column">
          <h3>PR</h3>
          <a href = "https://www.facebook.com/profile.php?id=100009678078745">Альона Кузнецова</a>
        </div>
        <div class = "column">
          <h3>Читай меня полностю</h3>
          <span>Input близко</span>
        </div>
      </div>
    </div>
  </div>
</section>
