<section class="tickets" id="tickets">
  <div class="container">
    <h2 class="h2-sections">Квитки</h2>

    <div class="tickets-row">
      <a href="https://inputconf.2event.com/">
        <img
          src="../../img/Ticket-1.svg"
          alt="Квиток рання пташка за 360 гривень"
        />
      </a>
      <a href="https://inputconf.2event.com/">
        <img
          src="../../img/Ticket-2.svg"
          alt="Квиток Стандарт за 480 гривень"
        />
      </a>
      <a href="https://inputconf.2event.com/">
        <img src="../../img/Ticket-3.svg" alt="Квиток Совушка за 810 гривень" />
      </a>
    </div>
    <div class="tickets-row tickets-row-big">
      <a href="https://inputconf.2event.com/">
        <img
          src="../../img/Ticket-4.svg"
          alt="Квиток Supporter з футболкою та промокодом-знижкою на другий квиток, за 810 гривень"
        />
      </a>
      <a class="ticket-5" href="https://inputconf.2event.com/">
        <img
          class="ticket-5-bird"
          src="../../img/Ticket-5-bird.png"
          alt="Supporter Ticket Bird Image"
        />
        <img
          src="../../img/Ticket-5.svg"
          alt="Квиток Super Supporter з футболкою та промокодом безкоштовний другий квиток, за 1100 гривень"
        />
      </a>
    </div>
  </div>
</section>
