
{% set
  list = [
    {
      class: 'img-wrapper-early',
      title: 'Рання пташечка',
      text: 'Для перших 50',
      text2: 'спартанцiв',
      price: '360'
    },
    {
      class: 'img-wrapper-standart',
      title: 'Стандарт',
      text: 'І колу 0.5, будь ласка!',
      class2: 'ticket-price-standart',
      price: '480'
    },
    {
      class: 'img-wrapper-owl',
      title: 'Совушка',
      text: 'Останній покупець',
      text2: ' на Землі',
      class2: 'ticket-price-owl',
      price: '810'
    }
  ]
  %}
<section class = "tickets" id="tickets">
	<div class = "container">
		<h2 class = "h2-sections">Квитки</h2>

		<div class = "tickets-wrapper">


      {% for data in list %}
			<div class = "ticket-item bird">
          <div class="ticket-body">
            <div class="img-wrapper {% if data.class %}{{data.class}}{% endif %}">
            </div>
            <h3 class="ticket-title">{{data.title}}</h3>
            <p class = "ticket-description">{{data.text}}
            {% if data.text2 %}
              <span class="ticket-rebase">
                {{data.text2}}
              </span>
            {% endif %}
            </p>
            <p class="ticket-price {% if data.class2 %}{{data.class2}}{% endif %}">
              Купити за
              <span class="ticket-price-value">
                {{data.price}} &#8372
              </span>
            </p>
          </div>
          <footer class="ticket-footer"></footer>
        </div>
      {% endfor %}
		</div>
		<div class = "tickets-wrapper">
			<div class = "ticket-item supporter">
				<!-- <img src = "/img/tickets/support.svg" alt = "support ticket"> -->
				<h3 class="ticket-title">Supporter</h3>
				<span class = "ticket-price">810 грн</span>
				<p class = "ticket-description">Квиток + класна футболка з лого івенту + промо-код на знижку, який можна подарувати тому, хто цього потребує (через нас або самостійно) + подяка в наших медіа</p>
			</div>
			<div class = "ticket-item supporter">
				<!-- <img src = "/img/tickets/super_support.svg" alt = "super_support ticket"> -->
				<h3 class="ticket-title">Super Supporter</h3>
				<span class = "ticket-price">1100 грн</span>
				<p class = "ticket-description">Квиток + класна футболка з лого івенту + diversity квиток, який можна подарувати тому, хто дійсно цього потребує (через нас або самостійно) + особлива подяка в наших медіа</p>
			</div>
		</div>
		<a href="https://inputconf.2event.com/" class="header-bottom-link">
			Придбати квиток
		</a>
	</div>
</section>
