<section class = "gradient wait" id="wait">
	<div class = "container">
		<h2 class = "h2-text">Як це буде</h2>
		<div class = "card-wrapper">
		<div class = "card card-first">
			<img src = "/img/emoji-1.svg" alt = "emoji">
			<h3 class="card-text">Спілкування</h3>
			<p>Mожливість ставити будь які запитання і отримати кваліфіковані відповіді від сучасних “зірок” ІТ-індустрії.</p>
		</div>
		<div class = "card card-second">
			<img src = "/img/emoji-2.svg" alt = "emoji">
			<h3 class="card-text">Мотивація</h3>
			<p>Поговоримо про те, що айтішником не потрібно народжуватися, всьому можна навчитися, а також про те де і як це можна зробити.</p>
		</div>
	</div>
	<div class = "card-wrapper">
		<div class = "card card-third">
			<img src = "/img/emoji-3.svg" alt = "emoji">
			<h3 class="card-text">Кар'єра</h3>
			<p>Ви дізнаєтеся про актуальні спеціальності та зможете стати представником обраної вами. А можливо амбассадором. ツ </p>
		</div>
		<div class = "card card-fourth">
			<img src = "/img/emoji-4.svg" alt = "emoji">
			<h3 class="card-text">Приємності</h3>
			<p>Ну і незмінні атрибути ІТ конференцій — піца та стікери.</p>
		</div>
	</div>
	</div>
</section>
