{% set info = [
    {
      img: '/img/partners/star.svg',
      link: 'https://star.global/',
      name: 'Star',
      role: 'Тривала підтримка',
      text: 'Star creates an integrated, seamless workflow – no matter how long or complex the client journey'
    },
    {
      img: '/img/partners/rr.svg',
      link: 'https://railsreactor.com/',
      name: 'Rails Reactor',
      role: 'Тривала підтримка',
      text: 'Rails Reactor інвестує в освіту професійного ІТ ком'юніті шляхом хостингу зустрічей, семінарів та хакатонів, у тому числі, під брендом "Meetup Tonight"'
    },
    {
      img: '/img/partners/innohub.svg',
      link: 'https://innohub.innovecs.com/about-us/?lang=uk',
      name: 'InnoHub',
      role: 'Хостінг партнер',
      text: 'Створений командою Innovecs, InnoHub покликаний надихати IT-спільноту до взаємодії та розвитку.'
    },
    {
      img: '/img/partners/dou.svg',
      link: 'https://dou.ua/',
      name: 'DOU.ua',
      role: 'Інформаційний партнер',
      text: 'DOU.ua — найбільша українськое спільнота розробниківсообщество разработчиков. Наша аудитория — ИТ-специалисты, средний возраст 25 лет, чаще всего сотрудники аутсорсинг компаний, 85% из Украины.'
    }
  ]
%}
