.about-kottats {
    padding: 100px 20px;

    @include r(900) {
        padding: 40px 20px;
    }
}

.about-kottats .h2-sections {
    line-height: 1;

    @include r(900) {
        font-size: 40px;
    }

    @include r(400) {
        font-size: 30px;
    }
}

.h2-sections-rebase {
    display: block;
}

.photo-content {
    display: inline-block;
    align-self: flex-start;

    @include r(767) {
        position: relative;
        width: 90%;
        left: 10px;
        margin-top: -40px;
    }
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 100px;

    @include r(767) {
        flex-direction: column;
    }
}

.item:last-child {
    margin-bottom: 0;
}

.item > img {
    margin-right: -35px;
    min-width: 200px;
    flex-shrink: 0;

    @include r(767) {
        margin-right: 0;
    }
}

.photo-p {
    font-size: 24px;
    color: #808080;
    letter-spacing: 0.01em;
    text-shadow: 4px 4px 0 $white, 4px -4px 0 $white, -4px 4px 0 $white,
        -4px -4px 0 $white, 4px 0px 0 $white, 0px 4px 0 $white,
        -4px 0px 0 $white, 0px -4px 0 $white;

    @include r(767) {
        background-color: $white;
        display: block;
    }
    @include r(900) {
        font-size: 18px;
    }
}

.name {
    font-size: 26px;
    color: #ff3500;
    margin-bottom: 20px;
    background-color: $white;

    span {
        color: $black;
    }
    @include r(900) {
        font-size: 23px;
    }
    @include r(767) {
        display: inline;
    }
}

.red-btn-wrapper {
    margin: 0 auto 70px;
    display: block;
    max-width: 410px;
    width: 70%;
    hyphens: none;

    @include r(900) {
        max-width: 330px;
    }
}

.about-link {
    display: block;
    width: 100%;
    background: #ff5107;
    box-shadow: 0px 15px 15px rgba(255, 81, 7, 0.25);
    border-radius: 15px;
    font-size: 26px;
    text-decoration: none;
    color: $white;
    cursor: pointer;
    border: none;
    padding: 25px;
    text-align: center;
    transition: all 300ms ease-in-out;

    @include r(900) {
        font-size: 18px;
    }
}
.about-link:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0px 40px 25px rgba(255, 81, 7, 0.25);
}
