.header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    font-weight: bold;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    margin: 0;
}

.header-bg {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.header-bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/header/header-bg-light.jpg);
    background-size: 100% 100%;
}
.rhombuses-darkus {
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.rhombus {
    z-index: -1;
    position: absolute;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%)) rotate(225deg)
        scale(1);
}

.rhombus:nth-of-type(8) {
    width: 10vw;
    height: 10vw;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='wow' %3E%3Cstop stop-color='hsl(12,100%25,50%25)'%3E%3C/stop%3E%3Cstop stop-color='hsl(245,100%25,50%25)' offset='50%'%3E%3C/stop%3E%3Cstop stop-color='hsl(183,100%25,50%25)' offset='100%'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E@keyframes LeaVerou %7Bto%7Bstroke-dashoffset: 140px%7D%7D @keyframes opacityFlow %7Bto%7Bopacity: 0.3%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: url(%23wow); stroke-width: 2px; fill: none; stroke-dasharray: 70px; animation: LeaVerou 5s infinite reverse linear, opacityFlow 2s 0ms infinite alternate linear'/%3E%3C/svg%3E"),
        hsla(0, 0, 0, 0.3);
}

.rhombus:nth-of-type(7) {
    width: 25vw;
    height: 25vw;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='wow' %3E%3Cstop stop-color='hsl(12,100%25,50%25)'%3E%3C/stop%3E%3Cstop stop-color='hsl(245,100%25,50%25)' offset='50%'%3E%3C/stop%3E%3Cstop stop-color='hsl(183,100%25,50%25)' offset='100%'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E@keyframes LeaVerou %7Bto%7Bstroke-dashoffset: 26px%7D%7D @keyframes opacityFlow %7Bto%7Bopacity: 0.3%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: url(%23wow); stroke-width: 2px; fill: none; stroke-dasharray: 13px; animation: LeaVerou 5s infinite linear, opacityFlow 2s 600ms infinite alternate linear'/%3E%3C/svg%3E"),
        hsla(0, 0, 0, 0.3);
}
.rhombus:nth-of-type(6) {
    width: 40vw;
    height: 40vw;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='wow' %3E%3Cstop stop-color='hsl(12,100%25,50%25)'%3E%3C/stop%3E%3Cstop stop-color='hsl(245,100%25,50%25)' offset='50%'%3E%3C/stop%3E%3Cstop stop-color='hsl(183,100%25,50%25)' offset='100%'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E@keyframes LeaVerou %7Bto%7Bstroke-dashoffset: 86px%7D%7D @keyframes opacityFlow %7Bto%7Bopacity: 0.3%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: url(%23wow); stroke-width: 2px; fill: none; stroke-dasharray: 43px; animation: LeaVerou 5s infinite reverse linear, opacityFlow 2s 1200ms infinite alternate linear'/%3E%3C/svg%3E"),
        hsla(0, 0, 0, 0.3);
}
.rhombus:nth-of-type(5) {
    width: 55vw;
    height: 55vw;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='wow' %3E%3Cstop stop-color='hsl(12,100%25,50%25)'%3E%3C/stop%3E%3Cstop stop-color='hsl(245,100%25,50%25)' offset='50%'%3E%3C/stop%3E%3Cstop stop-color='hsl(183,100%25,50%25)' offset='100%'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E@keyframes LeaVerou %7Bto%7Bstroke-dashoffset: 112px%7D%7D @keyframes opacityFlow %7Bto%7Bopacity: 0.3%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: url(%23wow); stroke-width: 2px; fill: none; stroke-dasharray: 56px; animation: LeaVerou 5s infinite linear, opacityFlow 2s 1800ms infinite alternate linear'/%3E%3C/svg%3E"),
        hsla(0, 0, 0, 0.3);
}
.rhombus:nth-of-type(4) {
    width: 70vw;
    height: 70vw;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='wow' %3E%3Cstop stop-color='hsl(12,100%25,50%25)'%3E%3C/stop%3E%3Cstop stop-color='hsl(245,100%25,50%25)' offset='50%'%3E%3C/stop%3E%3Cstop stop-color='hsl(183,100%25,50%25)' offset='100%'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E@keyframes LeaVerou %7Bto%7Bstroke-dashoffset: 152px%7D%7D @keyframes opacityFlow %7Bto%7Bopacity: 0.3%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: url(%23wow); stroke-width: 2px; fill: none; stroke-dasharray: 76px; animation: LeaVerou 5s infinite reverse linear, opacityFlow 2s 2400ms infinite alternate linear'/%3E%3C/svg%3E"),
        hsla(0, 0, 0, 0.3);
}
.rhombus:nth-of-type(3) {
    width: 85vw;
    height: 85vw;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='wow' %3E%3Cstop stop-color='hsl(12,100%25,50%25)'%3E%3C/stop%3E%3Cstop stop-color='hsl(245,100%25,50%25)' offset='50%'%3E%3C/stop%3E%3Cstop stop-color='hsl(183,100%25,50%25)' offset='100%'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E@keyframes LeaVerou %7Bto%7Bstroke-dashoffset: 46px%7D%7D @keyframes opacityFlow %7Bto%7Bopacity: 0.3%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: url(%23wow); stroke-width: 2px; fill: none; stroke-dasharray: 23px; animation: LeaVerou 5s infinite linear, opacityFlow 2s 3000ms infinite alternate linear'/%3E%3C/svg%3E"),
        hsla(0, 0, 0, 0.3);
}
.rhombus:nth-of-type(2) {
    width: 100vw;
    height: 100vw;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='wow' %3E%3Cstop stop-color='hsl(12,100%25,50%25)'%3E%3C/stop%3E%3Cstop stop-color='hsl(245,100%25,50%25)' offset='50%'%3E%3C/stop%3E%3Cstop stop-color='hsl(183,100%25,50%25)' offset='100%'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E@keyframes LeaVerou %7Bto%7Bstroke-dashoffset: 82px%7D%7D @keyframes opacityFlow %7Bto%7Bopacity: 0.3%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: url(%23wow); stroke-width: 2px; fill: none; stroke-dasharray: 41px; animation: LeaVerou 5s infinite reverse linear, opacityFlow 2s 3600ms infinite alternate linear'/%3E%3C/svg%3E"),
        hsla(0, 0, 0, 0.3);
}
.rhombus:nth-of-type(1) {
    width: 115vw;
    height: 115vw;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='wow' %3E%3Cstop stop-color='hsl(12,100%25,50%25)'%3E%3C/stop%3E%3Cstop stop-color='hsl(245,100%25,50%25)' offset='50%'%3E%3C/stop%3E%3Cstop stop-color='hsl(183,100%25,50%25)' offset='100%'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E@keyframes LeaVerou %7Bto%7Bstroke-dashoffset: 174px%7D%7D @keyframes opacityFlow %7Bto%7Bopacity: 0.3%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: url(%23wow); stroke-width: 2px; fill: none; stroke-dasharray: 87px; animation: LeaVerou 5s infinite linear, opacityFlow 2s 4200ms infinite alternate linear'/%3E%3C/svg%3E"),
        hsla(0, 0, 0, 0.3);
}

@media (max-aspect-ratio: 135/100) {
    .rhombus:nth-of-type(8) {
        width: 10vh;
        height: 10vh;
    }
    .rhombus:nth-of-type(7) {
        width: 25vh;
        height: 25vh;
    }
    .rhombus:nth-of-type(6) {
        width: 40vh;
        height: 40vh;
    }
    .rhombus:nth-of-type(5) {
        width: 55vh;
        height: 55vh;
    }
    .rhombus:nth-of-type(4) {
        width: 70vh;
        height: 70vh;
    }
    .rhombus:nth-of-type(3) {
        width: 85vh;
        height: 85vh;
    }
    .rhombus:nth-of-type(2) {
        width: 100vh;
        height: 100vh;
    }
    .rhombus:nth-of-type(1) {
        width: 115vh;
        height: 115vh;
    }
}

.header-content {
    width: 100%;
    height: 100%;
    padding: 0 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include r(1040) {
        align-items: flex-start;
    }
    @include r(767) {
        padding: 0 20px 50px;
    }
}
.header-top-spacer {
    height: 110px;

    @include r(1040) {
        display: none;
    }
}
.header-menu {
    margin-bottom: 20px;
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;

    @include r(1040) {
        margin-left: -50px;
        position: absolute;
        transform: translateY(-100%);
        background-color: $black;
        overflow: hidden;
        transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        will-change: transform;
    }
    @include r(767) {
        margin-left: -20px;
    }
}

.header-menu-active {
    @include r(1040) {
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateY(0);
    }
}

.menu-list-wrapper {
    @include r(1040) {
        transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        transform: translateY(100%);
    }
}
.header-menu-active > .menu-list-wrapper {
    @include r(1040) {
        transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateY(0);
    }
}

.header-menu-list {
    display: flex;
    justify-content: center;
    background-color: #000d;
    width: 100%;
    overflow: hidden;

    @include r(1040) {
        flex-direction: column;
        justify-content: flex-start;
        width: 100vw;
        height: 100vh;
        padding-top: 120px;
        padding-left: calc(50px + 9vw);
        padding-right: 30px;

        & > li > a {
            margin: 0;
            margin-bottom: 20px;
            color: $white;
        }
        & > li > a:hover {
            color: #ff3500;
        }
    }

    @include r(768) {
        padding-left: calc(20px + 9vw);
    }
}

@supports (
    (-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))
) {
    .header-menu-list {
        backdrop-filter: blur(15px);
        background-color: #0009;
    }
}

.header-menu-list > li > a.buy-a-ticket {
    border-radius: 7px;
    margin-top: 8px;
    padding: 3px 10px;
    background-color: rgba(0, 255, 42, 0.3);
    border-bottom: none;
}
.header-menu-list > li > a.buy-a-ticket:hover {
    color: black;
    border-bottom: none;
    background-color: 	rgb(0, 255, 42);
}

.header-menu-active .header-menu-list {
    @include r(1040) {
        display: block;
        text-align: left;
    }
}

.header-menu-list > li > a {
    margin: 10px 15px 10px 15px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid #fff4;
    display: block;
    animation: moveInMenuAnimation 1s cubic-bezier(0.215, 0.61, 0.355, 1)
        backwards;
    @include r(1040) {
        display: block;
        transform: translateY(-100px);
        opacity: 0.01;
        transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19),
            opacity 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
}
.header-menu-active .header-menu-list > li > a {
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
        opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateY(0);
    opacity: 1;
}
.header-menu-list > li:nth-of-type(1) > a {
    animation-delay: 0.1s;
}
.header-menu-list > li:nth-of-type(2) > a {
    animation-delay: 0.2s;
}
.header-menu-list > li:nth-of-type(3) > a {
    animation-delay: 0.3s;
}
.header-menu-list > li:nth-of-type(4) > a {
    animation-delay: 0.4s;
}
.header-menu-list > li:nth-of-type(5) > a {
    animation-delay: 0.5s;
}
.header-menu-list > li:nth-of-type(6) > a {
    animation-delay: 0.6s;
}
.header-menu-list > li:nth-of-type(7) > a {
    animation-delay: 0.7s;
}
.header-menu-list > li:nth-of-type(8) > a {
    animation-delay: 0.8s;
}
.header-menu-list > li:nth-of-type(9) > a {
    animation-delay: 0.9s;
}
.header-menu-list > li:nth-of-type(9) > a {
    transition-delay: 0;
}
.header-menu-list > li:nth-of-type(8) > a {
    transition-delay: 15ms;
}
.header-menu-list > li:nth-of-type(7) > a {
    transition-delay: 30ms;
}
.header-menu-list > li:nth-of-type(6) > a {
    transition-delay: 45ms;
}
.header-menu-list > li:nth-of-type(5) > a {
    transition-delay: 60ms;
}
.header-menu-list > li:nth-of-type(4) > a {
    transition-delay: 75ms;
}
.header-menu-list > li:nth-of-type(3) > a {
    transition-delay: 90ms;
}
.header-menu-list > li:nth-of-type(2) > a {
    transition-delay: 105ms;
}
.header-menu-list > li:nth-of-type(1) > a {
    transition-delay: 120ms;
}
.header-menu-list > li > a:hover {
    color: red;
    border-bottom: 2px solid #f006;
}
.header-menu-active .header-menu-list > li:nth-of-type(1) > a {
    animation-delay: 0.1s;
    transition-delay: 15ms;
}
.header-menu-active .header-menu-list > li:nth-of-type(2) > a {
    animation-delay: 0.2s;
    transition-delay: 30ms;
}
.header-menu-active .header-menu-list > li:nth-of-type(3) > a {
    animation-delay: 0.3s;
    transition-delay: 45ms;
}
.header-menu-active .header-menu-list > li:nth-of-type(4) > a {
    animation-delay: 0.4s;
    transition-delay: 60ms;
}
.header-menu-active .header-menu-list > li:nth-of-type(5) > a {
    animation-delay: 0.5s;
    transition-delay: 75ms;
}
.header-menu-active .header-menu-list > li:nth-of-type(6) > a {
    animation-delay: 0.6s;
    transition-delay: 90ms;
}
.header-menu-active .header-menu-list > li:nth-of-type(7) > a {
    animation-delay: 0.7s;
    transition-delay: 105ms;
}
.header-menu-active .header-menu-list > li:nth-of-type(8) > a {
    animation-delay: 0.8s;
    transition-delay: 120ms;
}
.header-menu-list > li > a:hover {
    color: red;
    border-bottom: 2px solid #f006;
}
.header-logo {
    margin: 0 auto;
    width: 353px;
    height: 70px;
    margin-bottom: 5px;
    animation: logoAnimation 1s 2.2s cubic-bezier(0.645, 0.045, 0.355, 1)
        backwards;

    @include r(1040) {
        width: 60vw;
        max-width: 400px;
        height: auto;
        margin: 0;
        position: relative;
        z-index: 5;
    }
}
.header-logo > img {
    width: 100%;
}
.header-center {
    @include r(1040) {
        margin-top: 23px;
    }
}
.header-center-text {
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    color: white;
    width: 75vw;

    @include r(460) {
        font-size: 14px;
        line-height: 20px;
    }
    @include r(370) {
        font-size: 13px;
        line-height: 17px;
    }
}
.header-text-mobile {
    margin-top: 5px;
    text-align: left;
    font-size: 26px;
    line-height: 1.2;
    display: none;
    hyphens: auto;
    animation: moveInMenuAnimation 1.5s 2.5s cubic-bezier(0.215, 0.61, 0.355, 1)
        backwards;
    @include r(1040) {
        display: block;
    }
    @include r(460) {
        font-size: 20px;
        line-height: 23px;
    }
}
.header-text-wrapper {
    overflow: hidden;

    @include r(1040) {
        display: none;
    }
}
.header-center-text > div > p {
    animation: moveInAnimation 1s cubic-bezier(0.215, 0.61, 0.355, 1) backwards;
}
.header-center-text > div:nth-of-type(1) > p {
    animation-delay: 2.5s;
}
.header-center-text > div:nth-of-type(2) > p {
    animation-delay: 2.6s;
}
.header-center-text > div:nth-of-type(3) > p {
    animation-delay: 2.7s;
}
.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px;

    @include r(1040) {
        width: auto;
        flex-direction: column;
        align-items: flex-start;
    }
}

.header-bottom-block {
    flex-grow: 1;
    width: 250px;
}
.header-bottom-left,
.header-bottom-right {
    @include r(1040) {
        order: 2;
        text-align-last: left;
        margin-bottom: 15px;
    }
}
.header-bottom-left > p,
.header-bottom-right > p {
    margin: 0;
    color: #fff6;
    font-size: 16px;
    animation: moveInButtomAnimation 1s 2.9s cubic-bezier(0.215, 0.61, 0.355, 1)
        backwards;

    @include r(460) {
        font-size: 14px;
    }
}
.header-bottom-right {
    text-align: right;

    @include r(1040) {
        order: 3;
        text-align: left;
        margin-bottom: 0;
    }
}
.header-bottom-left > p > a,
.header-bottom-right > p > a {
    color: #fff6;
    text-decoration: none;
    border-bottom: 2px solid #fff4;
}
.header-bottom-left > p > a:hover,
.header-bottom-right > p > a:hover {
    border-bottom: 2px solid #f006;
    color: red;
    opacity: 1;
}
.header-bottom-left > h3,
.header-bottom-right > h3 {
    line-height: 1.1;
    color: white;
    margin: 0;
    font-size: 35px;
    animation: moveInButtomAnimation 1s 3s cubic-bezier(0.215, 0.61, 0.355, 1)
        backwards;

    @include r(460) {
        font-size: 25px;
    }
}

.header-bottom-center {
    text-align: center;
    @include r(1040) {
        order: 1;
        margin-bottom: 15px;
    }
}

.header-bottom-button {
    display: block;
    max-width: 210px;
    margin: 0 auto;
    width: 100%;
    height: 47px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    line-height: 47px;
    color: $white;
    text-align: center;
    background: linear-gradient(180deg, rgba($black, 0) 0%, $black 100%),
        linear-gradient(94.81deg, #b2f000 0%, #58c207 47.92%, #00d287 100%);
    background-blend-mode: overlay, normal;
    border: none;
    border-radius: 7px;
    transition: all 250ms ease-in-out;
    animation: moveInButtonAnimation 1s 2.8s cubic-bezier(0.215, 0.61, 0.355, 1)
        backwards;
    box-shadow: 0 8px 6px -5px #50b70077;
}
.header-bottom-button:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 13px 15px -10px #50b70077;
}

//Mobile menu
.hamburger {
    display: none;
    width: 35px;
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 10;
    cursor: pointer;

    @include r(1040) {
        display: block;
    }
    @include r(460) {
        right: 20px;
    }

    &:hover .hamburger-item {
        width: 100%;
    }
}

.hamburger-item {
    height: 4px !important;
    background-color: $white;
    display: block;
    margin-bottom: 8px;
    transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
    &:first-child {
        width: calc(100% * (5 / 6));
    }

    &:nth-child(2) {
        width: 100%;
    }

    &:last-child {
        width: calc(100% * (4 / 6));
    }
}

.hamburger-active {
    z-index: 5;

    .hamburger-item {
        &:first-child {
            width: 100%;
            transform: translate(0, 11px) rotate(45deg) !important;
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:last-child {
            width: 100%;
            transform: translate(0, -12.5px) rotate(-45deg) !important;
        }
    }
}

#addeventatc1 {
    z-index: 2 !important;
}

@keyframes logoAnimation {
    from {
        transform: translateY(40px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes moveInAnimation {
    from {
        transform: translateY(27px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes moveInMenuAnimation {
    from {
        opacity: 0;
        transform: translateY(57px);
    }
    to {
        transform: translateY(0px);
    }
}
@keyframes moveInButtonAnimation {
    from {
        opacity: 0;
        transform: translateY(57px);
    }
    to {
        transform: translateY(0px);
    }
}
@keyframes moveInButtomAnimation {
    from {
        opacity: 0;
        transform: translateY(57px);
    }
    to {
        transform: translateY(0px);
    }
}
