.organizers__wrapper {
    background: linear-gradient(0deg, rgba($black, 0.75), rgba($black, 0.75)),
        url(../img/header/header-bg-light.jpg);
    background-size: cover, cover;
}
.organizers__wrapper > .container {
    padding: 0 40px;

    @include r(320) {
        padding: 0 20px;
    }
}
.organizers {
    padding-top: 80px;
    padding-bottom: 134px;

    @include r(900) {
        padding-top: 40px;
        padding-bottom: 100px;
    }
}

.organizers__title {
    color: white;
    font-size: 80px;

    @include r(900) {
        font-size: 40px;
        text-align: center;
    }
    @include r(400) {
        font-size: 30px;
    }
}
.organizers__kottans {
    margin-top: 34px;
    display: flex;

    @include r(900) {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }
}
.organizers__column-left {
    flex: 0 0 64%;
}

.organizers__kottans-gradient-title {
    @include r(900) {
        margin: 0 auto 10px auto;
        display: block;
        margin-bottom: 10px;
        width: 50%;
        max-width: 200px;
    }
}

.organizers__column-right {
    flex: 0 0 36%;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 20px;

    @include r(900) {
        order: -1;
        padding-left: 0;
        padding-top: 0;
        width: 50%;
        max-width: 200px;
    }

    @include r(400) {
        padding-bottom: 0;
    }
}
.organizers__icon {
    width: 100%;
    position: sticky;
    top: 20px;
}
.organizers__h3 {
    font-size: 24px;
    color: white;

    @include r(400) {
        font-size: 18px;
    }
}
.organizers__p {
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.3;
    color: #fff5;
    hyphens: auto;

    @include r(400) {
        font-size: 18px;
    }
}
.organizers__kottans-citation {
    margin: 20px 0;
}

.organizers__citation-img {
    width: 100%;

    @include r(600) {
        display: none;
    }
}
.organizers__citation-img--mobile {
    display: none;
    width: 100%;

    @include r(600) {
        display: block;
    }
}
