.partnres
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../../img/header-bg-light.jpg)
	background-size: cover, cover
	padding-top: 20px
	padding-bottom: 20px
	color: $white

.partners__grid
	display: flex
	justify-content: center
	flex-flow: row wrap

.partners__item
	display: block
	max-width: 45%
	border: 3px solid $white
	text-align: center
	padding: 20px
	margin: 20px

.partners__item
	font-size: 18px

.partners__name, .partners__role
	margin: 35px

.partners__link
	color: #208fdf
	font-size: 22px

.partners__link:hover, .kottans:hover
	text-decoration: none
	color: $red

.icon-star
	fill: $white
