.schedule-item {
	color: #5d5f63;
	font-size: 24px;
	line-height: 2;
}

.schedule-item {
	a { color: #208fdf;;
		text-decoration: none;
		border-bottom: 2px dotted #208fdf;
	}
}

.h3-schedule {
	font-size: 44px;
	text-align: center;
	margin-top: 5%;
}

.h4 {
	font-weight: 900;
	font-size: 28px;
}

.details-wrapper {
	p {
		font-size: 28px;
		font-weight: 100;
		color: #727479;
		margin-bottom: 15px;
	}
}

.bold {
	font-weight: 600;
}

.details-span {
	font-size: 22px;
	font-weight: 600;
}

.section-buttons {
margin: 0 auto;
display: block;
}

.section-bottom-block {
	width: 300px;
}

