.sections {
    padding: 80px;
    hyphens: auto;
    line-height: 1.3;
    @include r(768) {
        padding: 55px 0;
    }
}
.sections > .container {
    padding: 0 40px;
    @include r(320) {
        padding: 0 20px;
    }
}

.h2-sections {
    text-align: center;
    font-size: 80px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 50px;
    @include r(900) {
        font-size: 40px;
    }

    @include r(320) {
        font-size: 35px;
    }
}

.section-item {
    width: 100%;
    min-height: 215px;
    margin-bottom: 50px;
    padding: 30px 0 10px 95px;
    background-position: center, 17px top;
    background-size: cover, 1;

    &:nth-of-type(1) {
        background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
            ),
            url("/img/1.svg") no-repeat;
        // padding: 10px 0 20px 95px;
        background-position: center, 25px top;
    }

    &:nth-of-type(2) {
        background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
            ),
            url("/img/2.svg") no-repeat;
    }

    &:nth-of-type(3) {
        background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
            ),
            url("/img/3.svg") no-repeat;
    }

    &:nth-of-type(4) {
        background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
            ),
            url("/img/4.svg") no-repeat;
    }

    @include r(680) {
        padding: 35% 0 0 0;
    }
}

.number-content {
    font-size: 44px;
}

.number-content {
    h3 {
        font-size: 44px;
        text-shadow: 3px 3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff,
            -3px -3px 0 #fff, 3px 0px 0 #fff, 0px 3px 0 #fff, -3px 0px 0 #fff,
            0px -3px 0 #fff;
        @include r(900) {
            font-size: 30px;
        }

        @include r(320) {
            font-size: 27px;
        }
    }
    p {
        font-size: 24px;
        color: #808080;
        letter-spacing: 0.01em;
        text-shadow: 3px 3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff,
            -3px -3px 0 #fff, 3px 0px 0 #fff, 0px 3px 0 #fff, -3px 0px 0 #fff,
            0px -3px 0 #fff;
        @include r(900) {
            font-size: 20px;
        }

        @include r(320) {
            font-size: 18px;
        }
    }
}
