.sections {
    padding: 80px;
}

.h2-sections {
    text-align: center;
    font-size: 80px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 50px;
    @include r(900) {
        font-size: 40px;
    }

    @include r(400) {
        font-size: 30px;
    }
}

.section-item {
    width: 100%;
    min-height: 215px;
    margin-bottom: 50px;
    padding: 30px 0 10px 95px;
    background-position: center, 17px top;
    background-size: cover, 1;

    &:nth-of-type(1) {
        background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
            ),
            url("/img/1.svg") no-repeat;
        padding: 10px 0 20px 95px;
    }

    &:nth-of-type(2) {
        background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
            ),
            url("/img/2.svg") no-repeat;
    }

    &:nth-of-type(3) {
        background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
            ),
            url("/img/3.svg") no-repeat;
    }

    &:nth-of-type(4) {
        background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.5)
            ),
            url("/img/4.svg") no-repeat;
    }
}

.number-content {
    font-size: 44px;
}

.number-content {
    h3 {
        font-size: 44px;
        text-shadow: 4px 4px 0 #fff, 4px -4px 0 #fff, -4px 4px 0 #fff,
            -4px -4px 0 #fff, 4px 0px 0 #fff, 0px 4px 0 #fff, -4px 0px 0 #fff,
            0px -4px 0 #fff;
    }
}

.number-content {
    p {
        font-size: 24px;
        color: #808080;
        letter-spacing: 0.01em;
        text-shadow: 4px 4px 0 #fff, 4px -4px 0 #fff, -4px 4px 0 #fff,
            -4px -4px 0 #fff, 4px 0px 0 #fff, 0px 4px 0 #fff, -4px 0px 0 #fff,
            0px -4px 0 #fff;
    }
}

@media screen and (max-width: 768px) {
    .sections {
        padding: 55px 0;
    }
    .section-item,
    .section-item:nth-of-type(1) {
        padding: 30px 0 10px 150px;
    }
    .h2-sections {
        font-size: 80px;
        text-align: left;
    }
}

@media screen and (max-width: 680px) {
    .section-item,
    .section-item:nth-of-type(1) {
        // background-size: 35%;
        padding: 35% 0 0 0;
    }
}
