.sections {
    padding: 80px;
}

.h2-sections {
    text-align: center;
    font-size: 80px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 50px;
}

.section-item {
    width: 100%;
    min-height: 215px;
    margin-bottom: 50px;
    padding: 30px 0 10px 95px;
    background-repeat: no-repeat;
    background-position: 17px top;
    background-size: contain;

    &:nth-of-type(1) {
        background-image: url("/img/svgo/1.svg");
        padding: 10px 0 20px 95px;
    }

    &:nth-of-type(2) {
        background-image: url("/img/svgo/2.svg");
    }

    &:nth-of-type(3) {
        background-image: url("/img/svgo/3.svg");
    }

    &:nth-of-type(4) {
        background-image: url("/img/svgo/4.svg");
    }
}

.number-content {
    font-size: 44px;
    font-weight: 400;
    background-color: rgba($white, .9);
}

.number-content {
    h3 {
        font-size: 44px;
    }
}

.number-content {
    p {
        font-size: 24px;
        color: #808080;
        letter-spacing: 0.01em;
        text-shadow: 4px 4px 0 #fff, 4px -4px 0 #fff, -4px 4px 0 #fff, -4px -4px 0 #fff, 4px 0px 0 #fff, 0px 4px 0 #fff, -4px 0px 0 #fff, 0px -4px 0 #fff;
    }
}

@media screen and (max-width: 768px) {
    .sections {
        padding: 0;
    }
    .section-item, .section-item:nth-of-type(1) {
        padding: 30px 0 10px 150px;
    }
    .h2-sections {
        font-size: 80px;
        text-align: left;
    }
}

@media screen and (max-width: 680px) {
    .section-item, .section-item:nth-of-type(1) {
        background-size: 35%;
        padding: 35% 0 0 0;
    }
}
