.speakers {
    padding: 70px 10px;
    @include r(900) {
        padding: 40px 10px;
    }

    .h2-sections {
        margin-bottom: 80px;
        line-height: 1;
        @include r(768) {
            font-size: 40px;
        }
        @include r(430) {
            font-size: 30px;
        }
    }
}

.link-wrapper {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.speakers-link {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: $black;
    min-width: 100px;
    max-width: 295px;
    width: 100%;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    background: #ffc700;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;

    @include r(768) {
        top: -45px;
        font-size: 20px;
        max-width: 235px;
    }

    @include r(430) {
        top: -50px;
    }
}

.girl,
.boy {
    max-height: 100px;
    position: relative;
    z-index: 2;
}
