.speakers {
	background-color: #ccc;
	padding: 4% 0;
}

		.button-figure {
			margin: 0 auto 10%;
			width: 400px;
			min-width: 300px;
			text-align: center;
			display: block;
		}

		.button {
			width: 100px;
			width: 295px;
			font-size: 24px;
			text-align: center;
			background: #FFC700;
			border-radius: 15px;
			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			-o-border-radius: 15px;
			font-weight: 700;
			padding: 16px 0;
			border: none;
			cursor: pointer;
		}

		.line {
			display: block;
			margin: 0 auto;
			width: 210px;
			height: 3px;
			background-color: #000;
			opacity: .3;
		}

		.girl {
			display: block;
			margin-top: 45px;
			margin-left: -30px;
			position: absolute;
		}

		.boy {
			display: block;
			position: absolute;
			margin-left: 316px;
			margin-top: -15px;
		}

@media screen and (max-width: 900px) {
	.button-figure {
		margin: 0 auto 20%;
	}
}

@media screen and (max-width: 568px) {
		.button-figure {
		margin: 0 auto 30%;
	}
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 414px) {
		.button-figure {
			width: 200px;
		}
		.boy {
			margin-left: 220px;
		}
}

@media screen and (max-width: 360px) {
		.button-figure {
		    margin: 0 auto 40%;
	}
		.button {
			width: 200px;
		}
		.line {
			width: 120px;
		}
		.boy {
			margin-left: 200px;
		}
		.girl {
			margin-top: 70px;
			margin-left: -20px;
		}
}

