.our-team {
    padding-bottom: 40px;
}

.photo-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.team-photo {
    display: block;
    width: 100%;
}

.heading-team {
    position: absolute;
    margin-top: 5%;
    font-size: 80px;
    color: $white;
    text-shadow: 0px 2px 0px #999, 0px 4px 0px #888, 0px 6px 0px #777;

    @include r(768) {
        font-size: 44px;
    }

    @include r(400) {
        font-size: 25px;
    }
}

.wrapper-links {
    display: flex;
    justify-content: center;
    margin: -50px 10px 0;
}

.inner-links {
    width: 100%;
    max-width: 1020px;
    background: linear-gradient(
        rgb(216, 208, 193) 3%,
        rgb(253, 252, 249) 15%,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 1)
    );
    padding: 40px 60px;
    border-radius: 20px;
    position: relative;
    z-index: 2;

    @include r(320) {
        padding: 30px 30px;
    }

    @include r(920) {
        background: linear-gradient(
            rgb(216, 208, 193) 2%,
            rgb(253, 252, 249) 8%,
            rgba(255, 255, 255, 1) 13%,
            rgba(255, 255, 255, 1)
        );
    }

    @include r(920) {
        background: linear-gradient(
            rgb(216, 208, 193) 2%,
            rgb(253, 252, 249) 5%,
            rgba(255, 255, 255, 1) 10%,
            rgba(255, 255, 255, 1)
        );
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @include r(800) {
        justify-content: center;
    }

    @include r(600) {
        margin-bottom: 0;
    }
}

.column {
    width: 25%;
    font-size: 15px;
    line-height: 1;
    padding-bottom: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
        width: auto;
        margin: 4px 0;
        color: #208fdf;
        text-decoration: none;
        border-bottom: 1px solid #208fdf66;

        &:hover {
            color: red;
            border-bottom: 1px solid #ff000066;
        }
    }

    @include r(970) {
        width: 50%;
    }

    @include r(555) {
        width: 100%;
    }
}
