.photo-wrapper {
	display: flex;
    justify-content: center;
    position: relative;
}

.team-photo {
    display: block;
    width: 100%;
}

.heading-team {
	position: absolute;
	margin-top: 5%;
	font-size: 80px;
	color: $white;
	text-shadow: 0px 4px 2px $black;
}

.wrapper-links {
	display: flex;
	justify-content: center;
    margin: -50px 10px 0;
}

.inner-links {
    max-width: 1060px;
    background-color: rgba($white, .7);
    padding: 40px 60px;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.column {
    width: 25%;
    font-size: 16px;
}

.column {
	a {
		line-height: 1.5;
		display: block;
		color: #208FDF;
        font-size: 16px;

        &:hover {
            text-decoration: none;
        }
	}
}

.column {
	span {
		text-decoration: underline;
		line-height: 1.5;
		display: block;
		color: #208FDF;
		font-size: 16px;
	}
}

@media screen and (max-width: 800px) {
    .column {
        width: 50%;
    }

    .row {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .heading-team {
        font-size: 44px;
    }

    .column {
        h3 {
            font-size: 24px;
        }

        span, a {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        margin-bottom: 20px;
    }
    .row {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 400px) {
    .heading-team {
        font-size: 36px;
    }
}
