.tickets {
	padding-bottom: 50px;
}

.tickets .container {
	max-width: 1200px;
	text-align: center;
    padding-top: 50px;
}

.tickets .header-bottom-link {
    display: block;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    font-size: 22px;
    line-height: 60px;
    text-decoration: none;
    text-align: center;
    color: $white;
    text-align: center;
    background: linear-gradient(180deg, rgba($black, 0) 0%, $black 100%),
        linear-gradient(94.81deg, #b2f000 0%, #58c207 47.92%, #00d287 100%);
    background-blend-mode: overlay, normal;
    border: none;
    border-radius: 7px;
    transition: all 250ms ease-in-out;
    animation: moveInButtonAnimation 1s 2.8s cubic-bezier(0.215, 0.61, 0.355, 1)
        backwards;
    box-shadow: 0 8px 6px -5px #50b70077;

	@include r(767) {
		max-width: 280px;
	}
}

.header-bottom-link:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 13px 15px -10px #50b70077;
}

.tickets-wrapper {
	margin: 0 auto;
	display: flex;
	padding: 20px;
	justify-content:space-between;

	@include r(767) {
		flex-direction: column;
	}
}

.tickets-wrapper:last-of-type{
	margin-bottom: 60px;
}

.ticket-item {
	flex: 1 0;
	max-width: 360px;
    text-align: left;
    box-shadow: 0 5px 10px 7px $grey;
    background: $grey;
    border-radius: 15px;

	@include r(767) {
		width: 100%;
		max-width: 100%;
		margin: auto auto 35px;
	}
}

.ticket-item:not(:last-child) {
	margin-right: 20px;

	@include r(767) {
		margin: auto auto 35px;
	}
}

.ticket-body, .ticket-footer {
    background-color: $white;
    border-radius: 15px;
    border: 1px solid #D1DEE6;
}

.ticket-body {
    padding: 35px 30px;
    display: flex;
    flex-flow: column nowrap;
    min-height: 395px;

    @include r(960) {
		min-height: 425px;
	}
}

.ticket-footer {
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0 20px;
}

.ticket-footer-block {
    min-height: 100px;
    background-image: url(../img/tickets/barcode.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.ticket-footer-block::before {
    content: '';
    width: 100%;
    margin-top: -2px;
    display: block;
    height: 2px;
    border-top: 2px dashed $black;
}

.img-wrapper {
    text-align: left;
    min-height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/tickets/sprite-bird.png);
    background-position: 0 0;
}

.img-wrapper-standart {
    background-position: -120px 0;
}

.img-wrapper-owl {
    background-position: -240px 0;
}

.supporter {
	max-width: 100%;
}

.ticket-title {
    font-size: 25px;
    line-height: 1.2;
}

.ticket-description {
	font-size: 18px;
	font-family: inherit;
    font-weight: 700;
    color: rgba($black, 0.5);
    margin-bottom: 40px;
}

.ticket-rebase {
    display: block;
}

.ticket-price {
    max-width: 140px;
    padding: 10px 15px;
    font-size: 18px;
	background: linear-gradient(180deg, #FFD337 0%, #FFC01E 100%);
    border-radius: 10px;
    margin-top: auto;
    text-decoration: none;
    color: $black;
}

.ticket-price-standart {
    background: linear-gradient(180deg, #CBFF2B 0%, #62D115 100%);
}

.ticket-price-owl {
    background: linear-gradient(180deg, #F6E1D7 0%, #97816E 100%);
}

.ticket-price-value {
    font-size: 32px;
    display: block;
    margin-top: -10px;
}

.supporter-ss .ticket-price {
    background: linear-gradient(180deg, #FFD43C 0%, #F09E00 100%);
}

.supporter .ticket-body {
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-template-rows: repeat(3, max-content);
    grid-column-gap: 10px;
    min-height: 400px;
    background: url(../img/tickets/paper-texture.png), radial-gradient(544.61px at 97.61% 1.61%, rgba(179, 179, 179, 0.98) 0%, rgba(117, 117, 117, 0.98) 100%);

    @include r(794) {
        min-height: 415px;
    }

    @include r(490) {
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }
}

.ticket-img {
    min-height: 120px;
    height: 100%;
    background-image: url(../img/tickets/bird-4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.supporter .ticket-img {
    background-size: 70%;

    @include r(490) {
        background-size: contain;
    }
}

.supporter-ss .ticket-img {
    background-size: contain;

    @include r(490) {
        min-height: 160px;
    }
}

.supporter .ticket-footer {
    background: url(../img/tickets/paper-texture.png), radial-gradient(544.61px at 97.61% 1.61%, rgba(179, 179, 179, 0.98) 0%, rgba(117, 117, 117, 0.98) 100%);
}

.supporter .ticket-footer-block{
    background-image: url(../img/tickets/barcode-big.png);
    background-size: contain;
}

.supporter-ss .ticket-body, .supporter-ss .ticket-footer{
    background: url(../img/tickets/paper-texture.png), radial-gradient(529.81px at 1.09% 2.3%, rgba(60, 60, 60, 0.98) 0%, rgba(15, 15, 15, 0.98) 100%);
}

.supporter .ticket-description {
    margin-bottom: 0;
}

.ticket-pice-supporter {
    background: linear-gradient(180deg, #E5E4E4 0%, #A4A4A4 100%);
}

.ticket-set-image {
    grid-column: 2 / 3;
    grid-row: 2;
    padding-top: 20px;

    @include r(490) {
        grid-column: 1 / -1;
        grid-row: 3;
    }
}

.ticket-set {
    grid-column: 2 / 3;
    grid-row: 3;
    font-size: 12px;
    line-height: 1.12;

    @include r(490) {
        grid-column: 1 / -1;
        grid-row: 5;
    }
}

.supporter .ticket-price {
    grid-column: 1 / 2;
    grid-row: 3;
    align-self: start;
    margin-top: 0;

    @include r(490) {
        grid-column: 1 / -1;
        grid-row: 4;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.ticket-head {
    align-self: end;
}

.icon-support-set, .icon-s-support-set {
    font-size: 70px;
}
