.wait {
    padding: 80px;

    @include r(768) {
        padding: 55px 0;
    }
}

.gradient {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url("/img/header-bg-light.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.h2-text {
    font-size: 80px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 44px;

    @include r(1060) {
        text-align: center;
    }

    @include r(900) {
        font-size: 40px;
    }

    @include r(320) {
        font-size: 35px;
    }
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @include r(1060) {
        margin-bottom: 0;
        flex-direction: column;
        align-items: center;
    }
}

.card {
    max-width: 450px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    color: #fff;
    font-weight: 900;
    padding: 40px;
    font-size: 24px;
    letter-spacing: 0.01em;
    border: 2px solid;
    hyphens: auto;
    line-height: 1.2;
    min-height: 600px;

    @include r(1060) {
        margin-bottom: 40px;
    }
    @include r(540) {
        margin-bottom: 20px;
        padding: 30px 30px 40px 30px;
        min-height: 500px;
    }
    @include r(320) {
        padding: 20px 20px 30px 20px;
        min-height: 400px;
        font-size: 18px;
    }
}
.card > img {
    height: 200px;

    @include r(320) {
        height: 150px;
    }
}
.card-text {
    font-size: 45px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 10px;

    @include r(800) {
        font-size: 30px;
    }
    @include r(320) {
        font-size: 27px;
        margin-top: 20px;
        margin-bottom: 5px;
    }
}

.card-first {
    background: rgba(181, 66, 200, 0.15);
    border-color: rgba(180, 57, 200, 0.2);
}

.card-second {
    background: rgba(106, 208, 239, 0.15);
    border-color: rgba(106, 208, 239, 0.2);
}

.card-third {
    background: rgba(255, 226, 11, 0.15);
    border-color: rgba(255, 226, 11, 0.2);
}

.card-fourth {
    background: rgba(105, 208, 34, 0.15);
    border-color: rgba(105, 208, 34, 0.2);
}

.card {
    p {
        font-weight: 900;
    }
}

.card-first {
    p {
        color: #ab56b3;
    }
}

.card-second {
    p {
        color: #59a4c1;
    }
}

.card-third {
    p {
        color: #d09553;
    }
}

.card-fourth {
    p {
        color: #99c17a;
    }
}
