<style>
  @-webkit-keyframes logoAnimation {
    0% {
      -webkit-transform: translateY(40px);
      transform: translateY(40px);
    }
    to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes logoAnimation {
    0% {
      -webkit-transform: translateY(40px);
      transform: translateY(40px);
    }
    to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-webkit-keyframes moveInAnimation {
    0% {
      -webkit-transform: translateY(27px);
      transform: translateY(27px);
    }
    to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes moveInAnimation {
    0% {
      -webkit-transform: translateY(27px);
      transform: translateY(27px);
    }
    to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-webkit-keyframes moveInMenuAnimation {
    0% {
      opacity: 0;
      -webkit-transform: translateY(57px);
      transform: translateY(57px);
    }
    to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes moveInMenuAnimation {
    0% {
      opacity: 0;
      -webkit-transform: translateY(57px);
      transform: translateY(57px);
    }
    to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-webkit-keyframes moveInButtonAnimation {
    0% {
      opacity: 0;
      -webkit-transform: translateY(57px);
      transform: translateY(57px);
    }
    to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes moveInButtonAnimation {
    0% {
      opacity: 0;
      -webkit-transform: translateY(57px);
      transform: translateY(57px);
    }
    to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-webkit-keyframes moveInButtomAnimation {
    0% {
      opacity: 0;
      -webkit-transform: translateY(57px);
      transform: translateY(57px);
    }
    to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes moveInButtomAnimation {
    0% {
      opacity: 0;
      -webkit-transform: translateY(57px);
      transform: translateY(57px);
    }
    to {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .addeventatc {
    visibility: hidden;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  .addeventatc .alarm_reminder,
  .addeventatc .all_day_event,
  .addeventatc .attendees,
  .addeventatc .calname,
  .addeventatc .client,
  .addeventatc .date_format,
  .addeventatc .description,
  .addeventatc .end,
  .addeventatc .facebook_event,
  .addeventatc .location,
  .addeventatc .method,
  .addeventatc .organizer,
  .addeventatc .organizer_email,
  .addeventatc .recurring,
  .addeventatc .start,
  .addeventatc .status,
  .addeventatc .timezone,
  .addeventatc .title,
  .addeventatc .transp,
  .addeventatc .uid {
    display: none !important;
  }
  .addeventatc_dropdown,
  .addeventatc_dropdown .frs a {
    background: #fff;
    position: absolute;
    text-decoration: none;
  }
  .addeventatc_dropdown {
    width: 230px;
    padding: 6px 0 0;
    font-family: "Open Sans", Roboto, "Helvetica Neue", Helvetica, Optima, Segoe,
      "Segoe UI", Candara, Calibri, Arial, sans-serif;
    margin-left: -1px;
    display: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 10px 26px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 10px 26px;
    -webkit-transform: scale(0.98, 0.98) translateY(5px);
    -ms-transform: scale(0.98, 0.98) translateY(5px);
    transform: scale(0.98, 0.98) translateY(5px);
    -webkit-transition: -webkit-transform 0.15s ease;
    -o-transition: transform 0.15s ease;
    transition: transform 0.15s ease;
    transition: transform 0.15s ease, -webkit-transform 0.15s ease;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: #000 !important;
    font-weight: 600;
    line-height: 100%;
    font-size: 15px;
    text-align: left;
    z-index: -1;
  }
  .addeventatc_dropdown.topdown {
    -webkit-transform: scale(0.98, 0.98) translateY(-5px) !important;
    -ms-transform: scale(0.98, 0.98) translateY(-5px) !important;
    transform: scale(0.98, 0.98) translateY(-5px) !important;
  }
  .addeventatc_dropdown span {
    display: block;
    line-height: 100%;
    background: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    color: #333;
    font-weight: 600;
    padding: 14px 10px 14px 55px;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .addeventatc_dropdown span:hover {
    background-color: #f4f4f4;
    color: #000;
    text-decoration: none;
    font-size: 15px;
  }
  .addeventatc_dropdown em {
    color: #999 !important;
    font-size: 12px !important;
    font-weight: 400;
  }
  .addeventatc_dropdown .frs a {
    color: #cacaca !important;
    cursor: pointer;
    font-size: 9px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 110% !important;
    padding-left: 10px;
    right: 10px;
    text-align: right;
    top: 5px;
    z-index: 101;
  }
  .addeventatc_dropdown .frs a:hover {
    color: #999 !important;
  }
  .addeventatc_dropdown .ateappleical {
    background: url(../../../img/addEvent/gfx/icon-apple-t5.svg) 18px 40%
      no-repeat;
    background-size: 22px 100%;
  }
  .addeventatc_dropdown .ategoogle {
    background: url(../../../img/addEvent/gfx/icon-google-t5.svg) 18px 50%
      no-repeat;
    background-size: 22px 100%;
  }
  .addeventatc_dropdown .ateoutlook {
    background: url(../../../img/addEvent/gfx/icon-outlook-t5.svg) 18px 50%
      no-repeat;
    background-size: 22px 100%;
  }
  .addeventatc_dropdown .ateoutlookcom {
    background: url(../../../img/addEvent/gfx/icon-outlookcom-t5.svg) 18px 50%
      no-repeat;
    background-size: 22px 100%;
  }
  .addeventatc_dropdown .ateyahoo {
    background: url(../../../img/addEvent/gfx/icon-yahoo-t5.svg) 18px 50%
      no-repeat;
    background-size: 22px 100%;
  }
  .addeventatc_dropdown .atefacebook {
    background: url(../../../img/addEvent/gfx/icon-facebook-t5.svg) 18px 50%
      no-repeat;
    background-size: 22px 100%;
  }
  .addeventatc_dropdown .copyx {
    height: 21px;
    display: block;
    position: relative;
    cursor: default;
  }
  .addeventatc_dropdown .brx {
    height: 1px;
    overflow: hidden;
    background: #e8e8e8;
    position: absolute;
    z-index: 100;
    left: 10px;
    right: 10px;
    top: 9px;
  }
  .addeventatc_dropdown.addeventatc-selected {
    -webkit-transform: scale(1, 1) translateY(0);
    -ms-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
    z-index: 99999999999;
  }
  .addeventatc_dropdown.topdown.addeventatc-selected {
    -webkit-transform: scale(1, 1) translateY(0) !important;
    -ms-transform: scale(1, 1) translateY(0) !important;
    transform: scale(1, 1) translateY(0) !important;
  }
  .addeventatc_dropdown .drop_markup {
    background-color: #f4f4f4;
  }
  a,
  abbr,
  acronym,
  address,
  applet,
  article,
  aside,
  audio,
  b,
  big,
  blockquote,
  body,
  canvas,
  caption,
  center,
  cite,
  code,
  dd,
  del,
  details,
  dfn,
  div,
  dl,
  dt,
  em,
  embed,
  figcaption,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  html,
  i,
  iframe,
  ins,
  kbd,
  label,
  legend,
  li,
  mark,
  menu,
  nav,
  object,
  ol,
  output,
  p,
  pre,
  q,
  ruby,
  s,
  samp,
  section,
  small,
  span,
  strike,
  strong,
  sub,
  summary,
  sup,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  time,
  tr,
  tt,
  u,
  ul,
  var,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }
  fieldset,
  img {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  a img,
  fieldset,
  img {
    border: 0;
  }
  input[type="email"],
  input[type="tel"],
  input[type="text"],
  textarea {
    -webkit-appearance: none;
  }
  button,
  input[type="submit"] {
    cursor: pointer;
  }
  button::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  textarea {
    overflow: auto;
  }
  button,
  input {
    margin: 0;
    padding: 0;
    border: 0;
  }
  a,
  a:focus,
  button,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  select,
  span,
  textarea {
    outline: 0;
  }
  ol,
  ul {
    list-style-type: none;
  }
  table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
  }
  *,
  :after,
  :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  .icon-s-support-set {
    width: 3.97em;
    height: 1em;
    fill: #fff;
  }
  .icon-support-set {
    width: 3.91em;
    height: 1em;
    fill: #000;
  }
  .header,
  body {
    font-weight: 700;
  }
  body {
    background: #fff;
    font-size: 50px;
    font-size: calc(16px + (50 - 16) * ((100vw - 600px) / (1000 - 600)));
    line-height: 1.4;
    font-family: "Montserrat", sans-serif;
  }
  .container {
    max-width: 940px;
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
  }
  .header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin: 0;
  }
  .header-bg {
    z-index: -100;
  }
  .header-bg,
  .header-bg-img,
  .rhombuses-darkus {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .header-bg-img {
    background-image: url(../img/header/header-bg-light.jpg);
    background-size: 100% 100%;
  }
  .rhombuses-darkus {
    z-index: 1;
    left: 0;
    top: 0;
  }
  .rhombus {
    z-index: -1;
    position: absolute;
    -webkit-transform: translate(calc(50vw - 50%), calc(50vh - 50%))
      rotate(225deg) scale(1);
    -ms-transform: translate(calc(50vw - 50%), calc(50vh - 50%)) rotate(225deg)
      scale(1);
    transform: translate(calc(50vw - 50%), calc(50vh - 50%)) rotate(225deg)
      scale(1);
  }
  .rhombus:nth-of-type(8) {
    width: 10vw;
    height: 10vw;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='wow' %3E%3Cstop stop-color='hsl(12,100%25,50%25)'%3E%3C/stop%3E%3Cstop stop-color='hsl(245,100%25,50%25)' offset='50%'%3E%3C/stop%3E%3Cstop stop-color='hsl(183,100%25,50%25)' offset='100%'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E@keyframes LeaVerou %7Bto%7Bstroke-dashoffset: 140px%7D%7D @keyframes opacityFlow %7Bto%7Bopacity: 0.3%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: url(%23wow); stroke-width: 2px; fill: none; stroke-dasharray: 70px; animation: LeaVerou 5s infinite reverse linear, opacityFlow 2s 0ms infinite alternate linear'/%3E%3C/svg%3E"),
      rgba(0, 0, 0, 0.3);
  }
  .rhombus:nth-of-type(7) {
    width: 25vw;
    height: 25vw;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='wow' %3E%3Cstop stop-color='hsl(12,100%25,50%25)'%3E%3C/stop%3E%3Cstop stop-color='hsl(245,100%25,50%25)' offset='50%'%3E%3C/stop%3E%3Cstop stop-color='hsl(183,100%25,50%25)' offset='100%'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E@keyframes LeaVerou %7Bto%7Bstroke-dashoffset: 26px%7D%7D @keyframes opacityFlow %7Bto%7Bopacity: 0.3%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: url(%23wow); stroke-width: 2px; fill: none; stroke-dasharray: 13px; animation: LeaVerou 5s infinite linear, opacityFlow 2s 600ms infinite alternate linear'/%3E%3C/svg%3E"),
      rgba(0, 0, 0, 0.3);
  }
  .rhombus:nth-of-type(6) {
    width: 40vw;
    height: 40vw;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='wow' %3E%3Cstop stop-color='hsl(12,100%25,50%25)'%3E%3C/stop%3E%3Cstop stop-color='hsl(245,100%25,50%25)' offset='50%'%3E%3C/stop%3E%3Cstop stop-color='hsl(183,100%25,50%25)' offset='100%'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E@keyframes LeaVerou %7Bto%7Bstroke-dashoffset: 86px%7D%7D @keyframes opacityFlow %7Bto%7Bopacity: 0.3%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: url(%23wow); stroke-width: 2px; fill: none; stroke-dasharray: 43px; animation: LeaVerou 5s infinite reverse linear, opacityFlow 2s 1200ms infinite alternate linear'/%3E%3C/svg%3E"),
      rgba(0, 0, 0, 0.3);
  }
  .rhombus:nth-of-type(5) {
    width: 55vw;
    height: 55vw;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='wow' %3E%3Cstop stop-color='hsl(12,100%25,50%25)'%3E%3C/stop%3E%3Cstop stop-color='hsl(245,100%25,50%25)' offset='50%'%3E%3C/stop%3E%3Cstop stop-color='hsl(183,100%25,50%25)' offset='100%'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E@keyframes LeaVerou %7Bto%7Bstroke-dashoffset: 112px%7D%7D @keyframes opacityFlow %7Bto%7Bopacity: 0.3%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: url(%23wow); stroke-width: 2px; fill: none; stroke-dasharray: 56px; animation: LeaVerou 5s infinite linear, opacityFlow 2s 1800ms infinite alternate linear'/%3E%3C/svg%3E"),
      rgba(0, 0, 0, 0.3);
  }
  .rhombus:nth-of-type(4) {
    width: 70vw;
    height: 70vw;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='wow' %3E%3Cstop stop-color='hsl(12,100%25,50%25)'%3E%3C/stop%3E%3Cstop stop-color='hsl(245,100%25,50%25)' offset='50%'%3E%3C/stop%3E%3Cstop stop-color='hsl(183,100%25,50%25)' offset='100%'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E@keyframes LeaVerou %7Bto%7Bstroke-dashoffset: 152px%7D%7D @keyframes opacityFlow %7Bto%7Bopacity: 0.3%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: url(%23wow); stroke-width: 2px; fill: none; stroke-dasharray: 76px; animation: LeaVerou 5s infinite reverse linear, opacityFlow 2s 2400ms infinite alternate linear'/%3E%3C/svg%3E"),
      rgba(0, 0, 0, 0.3);
  }
  .rhombus:nth-of-type(3) {
    width: 85vw;
    height: 85vw;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='wow' %3E%3Cstop stop-color='hsl(12,100%25,50%25)'%3E%3C/stop%3E%3Cstop stop-color='hsl(245,100%25,50%25)' offset='50%'%3E%3C/stop%3E%3Cstop stop-color='hsl(183,100%25,50%25)' offset='100%'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E@keyframes LeaVerou %7Bto%7Bstroke-dashoffset: 46px%7D%7D @keyframes opacityFlow %7Bto%7Bopacity: 0.3%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: url(%23wow); stroke-width: 2px; fill: none; stroke-dasharray: 23px; animation: LeaVerou 5s infinite linear, opacityFlow 2s 3000ms infinite alternate linear'/%3E%3C/svg%3E"),
      rgba(0, 0, 0, 0.3);
  }
  .rhombus:nth-of-type(2) {
    width: 100vw;
    height: 100vw;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='wow' %3E%3Cstop stop-color='hsl(12,100%25,50%25)'%3E%3C/stop%3E%3Cstop stop-color='hsl(245,100%25,50%25)' offset='50%'%3E%3C/stop%3E%3Cstop stop-color='hsl(183,100%25,50%25)' offset='100%'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E@keyframes LeaVerou %7Bto%7Bstroke-dashoffset: 82px%7D%7D @keyframes opacityFlow %7Bto%7Bopacity: 0.3%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: url(%23wow); stroke-width: 2px; fill: none; stroke-dasharray: 41px; animation: LeaVerou 5s infinite reverse linear, opacityFlow 2s 3600ms infinite alternate linear'/%3E%3C/svg%3E"),
      rgba(0, 0, 0, 0.3);
  }
  .rhombus:nth-of-type(1) {
    width: 115vw;
    height: 115vw;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='wow' %3E%3Cstop stop-color='hsl(12,100%25,50%25)'%3E%3C/stop%3E%3Cstop stop-color='hsl(245,100%25,50%25)' offset='50%'%3E%3C/stop%3E%3Cstop stop-color='hsl(183,100%25,50%25)' offset='100%'%3E%3C/stop%3E%3C/linearGradient%3E%3Cstyle%3E@keyframes LeaVerou %7Bto%7Bstroke-dashoffset: 174px%7D%7D @keyframes opacityFlow %7Bto%7Bopacity: 0.3%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: url(%23wow); stroke-width: 2px; fill: none; stroke-dasharray: 87px; animation: LeaVerou 5s infinite linear, opacityFlow 2s 4200ms infinite alternate linear'/%3E%3C/svg%3E"),
      rgba(0, 0, 0, 0.3);
  }
  .header-content {
    width: 100%;
    height: 100%;
    padding: 0 50px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-top-spacer {
    height: 110px;
  }
  .header-menu {
    margin-bottom: 20px;
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .header-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #000d;
    width: 100%;
    overflow: hidden;
  }
  @supports (
    (-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))
  ) {
    .header-menu-list {
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
      background-color: #0009;
    }
  }
  .header-menu-list > li > a.buy-a-ticket {
    border-radius: 7px;
    margin-top: 8px;
    padding: 3px 10px;
    background-color: hsla(130, 100%, 50%, 0.3);
    border-bottom: none;
  }
  .header-menu-list > li > a.buy-a-ticket:hover {
    color: #000;
    border-bottom: none;
    background-color: hsla(130, 100%, 50%, 1);
  }
  .header-menu-list > li > a {
    margin: 10px 15px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff4;
    display: block;
    -webkit-animation: moveInMenuAnimation 1s
      cubic-bezier(0.215, 0.61, 0.355, 1) backwards;
    animation: moveInMenuAnimation 1s cubic-bezier(0.215, 0.61, 0.355, 1)
      backwards;
  }
  .header-menu-active .header-menu-list > li > a {
    -webkit-transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
      -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
      opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
      opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
      opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
      -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  .header-menu-list > li:nth-of-type(1) > a {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .header-menu-list > li:nth-of-type(2) > a {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .header-menu-list > li:nth-of-type(3) > a {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .header-menu-list > li:nth-of-type(4) > a {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .header-menu-list > li:nth-of-type(5) > a {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .header-menu-list > li:nth-of-type(6) > a {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .header-menu-list > li:nth-of-type(7) > a {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  .header-menu-list > li:nth-of-type(8) > a {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  .header-menu-list > li:nth-of-type(9) > a {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    -webkit-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
  }
  .header-menu-list > li:nth-of-type(8) > a {
    -webkit-transition-delay: 15ms;
    -o-transition-delay: 15ms;
    transition-delay: 15ms;
  }
  .header-menu-list > li:nth-of-type(7) > a {
    -webkit-transition-delay: 30ms;
    -o-transition-delay: 30ms;
    transition-delay: 30ms;
  }
  .header-menu-list > li:nth-of-type(6) > a {
    -webkit-transition-delay: 45ms;
    -o-transition-delay: 45ms;
    transition-delay: 45ms;
  }
  .header-menu-list > li:nth-of-type(5) > a {
    -webkit-transition-delay: 60ms;
    -o-transition-delay: 60ms;
    transition-delay: 60ms;
  }
  .header-menu-list > li:nth-of-type(4) > a {
    -webkit-transition-delay: 75ms;
    -o-transition-delay: 75ms;
    transition-delay: 75ms;
  }
  .header-menu-list > li:nth-of-type(3) > a {
    -webkit-transition-delay: 90ms;
    -o-transition-delay: 90ms;
    transition-delay: 90ms;
  }
  .header-menu-list > li:nth-of-type(2) > a {
    -webkit-transition-delay: 105ms;
    -o-transition-delay: 105ms;
    transition-delay: 105ms;
  }
  .header-menu-list > li:nth-of-type(1) > a {
    -webkit-transition-delay: 120ms;
    -o-transition-delay: 120ms;
    transition-delay: 120ms;
  }
  .header-menu-list > li > a:hover {
    color: red;
    border-bottom: 2px solid #f006;
  }
  .header-menu-active .header-menu-list > li:nth-of-type(1) > a {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    -webkit-transition-delay: 15ms;
    -o-transition-delay: 15ms;
    transition-delay: 15ms;
  }
  .header-menu-active .header-menu-list > li:nth-of-type(2) > a {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-transition-delay: 30ms;
    -o-transition-delay: 30ms;
    transition-delay: 30ms;
  }
  .header-menu-active .header-menu-list > li:nth-of-type(3) > a {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-transition-delay: 45ms;
    -o-transition-delay: 45ms;
    transition-delay: 45ms;
  }
  .header-menu-active .header-menu-list > li:nth-of-type(4) > a {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-transition-delay: 60ms;
    -o-transition-delay: 60ms;
    transition-delay: 60ms;
  }
  .header-menu-active .header-menu-list > li:nth-of-type(5) > a {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-transition-delay: 75ms;
    -o-transition-delay: 75ms;
    transition-delay: 75ms;
  }
  .header-menu-active .header-menu-list > li:nth-of-type(6) > a {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -webkit-transition-delay: 90ms;
    -o-transition-delay: 90ms;
    transition-delay: 90ms;
  }
  .header-menu-active .header-menu-list > li:nth-of-type(7) > a {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
    -webkit-transition-delay: 105ms;
    -o-transition-delay: 105ms;
    transition-delay: 105ms;
  }
  .header-menu-active .header-menu-list > li:nth-of-type(8) > a {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    -webkit-transition-delay: 120ms;
    -o-transition-delay: 120ms;
    transition-delay: 120ms;
  }
  .header-logo {
    width: 353px;
    height: 70px;
    margin: 0 auto 5px;
    -webkit-animation: logoAnimation 1s 2.2s
      cubic-bezier(0.645, 0.045, 0.355, 1) backwards;
    animation: logoAnimation 1s 2.2s cubic-bezier(0.645, 0.045, 0.355, 1)
      backwards;
  }
  .hamburger:hover .hamburger-item,
  .header-logo > img {
    width: 100%;
  }
  .header-center-text {
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    width: 75vw;
  }
  .header-text-mobile {
    margin-top: 5px;
    text-align: left;
    font-size: 26px;
    line-height: 1.2;
    display: none;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -webkit-animation: moveInMenuAnimation 1.5s 2.5s
      cubic-bezier(0.215, 0.61, 0.355, 1) backwards;
    animation: moveInMenuAnimation 1.5s 2.5s cubic-bezier(0.215, 0.61, 0.355, 1)
      backwards;
  }
  .header-text-wrapper {
    overflow: hidden;
  }
  .header-center-text > div > p {
    -webkit-animation: moveInAnimation 1s cubic-bezier(0.215, 0.61, 0.355, 1)
      backwards;
    animation: moveInAnimation 1s cubic-bezier(0.215, 0.61, 0.355, 1) backwards;
  }
  .header-center-text > div:nth-of-type(1) > p {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
  }
  .header-center-text > div:nth-of-type(2) > p {
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s;
  }
  .header-center-text > div:nth-of-type(3) > p {
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s;
  }
  .header-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
  }
  .header-bottom-block {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 250px;
  }
  .header-bottom-left > p,
  .header-bottom-right > p {
    margin: 0;
    color: #fff6;
    font-size: 16px;
    -webkit-animation: moveInButtomAnimation 1s 2.9s
      cubic-bezier(0.215, 0.61, 0.355, 1) backwards;
    animation: moveInButtomAnimation 1s 2.9s cubic-bezier(0.215, 0.61, 0.355, 1)
      backwards;
  }
  .header-bottom-right {
    text-align: right;
  }
  .header-bottom-left > p > a,
  .header-bottom-right > p > a {
    color: #fff6;
    text-decoration: none;
    border-bottom: 2px solid #fff4;
  }
  .header-bottom-left > p > a:hover,
  .header-bottom-right > p > a:hover {
    border-bottom: 2px solid #f006;
    color: red;
    opacity: 1;
  }
  .header-bottom-left > h3,
  .header-bottom-right > h3 {
    line-height: 1.1;
    color: #fff;
    margin: 0;
    font-size: 35px;
    -webkit-animation: moveInButtomAnimation 1s 3s
      cubic-bezier(0.215, 0.61, 0.355, 1) backwards;
    animation: moveInButtomAnimation 1s 3s cubic-bezier(0.215, 0.61, 0.355, 1)
      backwards;
  }
  .header-bottom-center {
    text-align: center;
  }
  .header-bottom-button {
    display: block;
    max-width: 210px;
    margin: 0 auto;
    width: 100%;
    height: 47px;
    font-size: 18px;
    text-decoration: none;
    line-height: 47px;
    color: #fff;
    text-align: center;
    background: -webkit-linear-gradient(top, transparent 0%, #000 100%),
      -webkit-linear-gradient(355.19deg, #b2f000 0%, #58c207 47.92%, #00d287
            100%);
    background: -o-linear-gradient(top, transparent 0%, #000 100%),
      -o-linear-gradient(355.19deg, #b2f000 0%, #58c207 47.92%, #00d287 100%);
    background: linear-gradient(180deg, transparent 0%, #000 100%),
      linear-gradient(94.81deg, #b2f000 0%, #58c207 47.92%, #00d287 100%);
    background-blend-mode: overlay, normal;
    border: 0;
    border-radius: 7px;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-animation: moveInButtonAnimation 1s 2.8s
      cubic-bezier(0.215, 0.61, 0.355, 1) backwards;
    animation: moveInButtonAnimation 1s 2.8s cubic-bezier(0.215, 0.61, 0.355, 1)
      backwards;
    -webkit-box-shadow: 0 8px 6px -5px #50b70077;
    box-shadow: 0 8px 6px -5px #50b70077;
  }
  .header-bottom-button:hover {
    -webkit-transform: translateY(-5px) scale(1.05);
    -ms-transform: translateY(-5px) scale(1.05);
    transform: translateY(-5px) scale(1.05);
    -webkit-box-shadow: 0 13px 15px -10px #50b70077;
    box-shadow: 0 13px 15px -10px #50b70077;
  }
  .hamburger {
    display: none;
    width: 35px;
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 10;
    cursor: pointer;
  }
  .hamburger-item {
    height: 4px !important;
    background-color: #fff;
    display: block;
    margin-bottom: 8px;
    -webkit-transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .hamburger-item:first-child {
    width: calc(100% * (5 / 6));
  }
  .hamburger-item:nth-child(2) {
    width: 100%;
  }
  .hamburger-item:last-child {
    width: calc(100% * (4 / 6));
  }
  .hamburger-active {
    z-index: 5;
  }
  .hamburger-active .hamburger-item:first-child {
    width: 100%;
    -webkit-transform: translate(0, 11px) rotate(45deg) !important;
    -ms-transform: translate(0, 11px) rotate(45deg) !important;
    transform: translate(0, 11px) rotate(45deg) !important;
  }
  .hamburger-active .hamburger-item:nth-child(2) {
    opacity: 0;
  }
  .hamburger-active .hamburger-item:last-child {
    width: 100%;
    -webkit-transform: translate(0, -12.5px) rotate(-45deg) !important;
    -ms-transform: translate(0, -12.5px) rotate(-45deg) !important;
    transform: translate(0, -12.5px) rotate(-45deg) !important;
  }
  #addeventatc1 {
    z-index: 2 !important;
  }
  @media (max-aspect-ratio: 135/100) {
    .rhombus:nth-of-type(8) {
      width: 10vh;
      height: 10vh;
    }
    .rhombus:nth-of-type(7) {
      width: 25vh;
      height: 25vh;
    }
    .rhombus:nth-of-type(6) {
      width: 40vh;
      height: 40vh;
    }
    .rhombus:nth-of-type(5) {
      width: 55vh;
      height: 55vh;
    }
    .rhombus:nth-of-type(4) {
      width: 70vh;
      height: 70vh;
    }
    .rhombus:nth-of-type(3) {
      width: 85vh;
      height: 85vh;
    }
    .rhombus:nth-of-type(2) {
      width: 100vh;
      height: 100vh;
    }
    .rhombus:nth-of-type(1) {
      width: 115vh;
      height: 115vh;
    }
  }
  @media (min-width: 1000px) {
    body {
      font-size: 50px;
    }
  }
  @media only screen and (max-width: 1040px) {
    .header-content {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .header-top-spacer {
      display: none;
    }
    .header-menu {
      margin-left: -50px;
      position: absolute;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
      background-color: #000;
      overflow: hidden;
      -webkit-transition: -webkit-transform 0.5s
        cubic-bezier(0.55, 0.055, 0.675, 0.19);
      -o-transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        -webkit-transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      will-change: transform;
    }
    .header-menu-active,
    .header-menu-active > .menu-list-wrapper {
      -webkit-transition: -webkit-transform 0.5s
        cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
        -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    .menu-list-wrapper {
      -webkit-transition: -webkit-transform 0.5s
        cubic-bezier(0.55, 0.055, 0.675, 0.19);
      -o-transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        -webkit-transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);
    }
    .header-menu-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      width: 100vw;
      height: 100vh;
      padding-top: 120px;
      padding-left: calc(50px + 9vw);
      padding-right: 30px;
    }
    .header-menu-list > li > a {
      margin: 0 0 20px;
      color: #fff;
      display: block;
      -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      transform: translateY(-100px);
      opacity: 0.01;
      -webkit-transition: opacity 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        -webkit-transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      -o-transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        opacity 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        opacity 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        opacity 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        -webkit-transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    .header-menu-list > li > a:hover {
      color: #ff3500;
    }
    .header-menu-active .header-menu-list {
      display: block;
      text-align: left;
    }
    .header-logo {
      width: 60vw;
      max-width: 400px;
      height: auto;
      margin: 0;
      position: relative;
      z-index: 5;
    }
    .header-center {
      margin-top: 23px;
    }
    .header-text-mobile {
      display: block;
    }
    .header-text-wrapper {
      display: none;
    }
    .header-bottom {
      width: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .header-bottom-left {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      text-align-last: left;
      margin-bottom: 15px;
    }
    .header-bottom-right {
      text-align-last: left;
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3;
      text-align: left;
      margin-bottom: 0;
    }
    .header-bottom-center {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      margin-bottom: 15px;
    }
    .hamburger {
      display: block;
    }
  }
  @media only screen and (max-width: 960px) {
    .container {
      padding: 0 20px;
    }
  }
  @media only screen and (max-width: 768px) {
    .header-menu-list {
      padding-left: calc(20px + 9vw);
    }
  }
  @media only screen and (max-width: 767px) {
    .header-content {
      padding: 0 20px 50px;
    }
    .header-menu {
      margin-left: -20px;
    }
  }
  @media (max-width: 600px) {
    body {
      font-size: 16px;
    }
  }
  @media only screen and (max-width: 460px) {
    .header-center-text {
      font-size: 14px;
      line-height: 20px;
    }
    .header-text-mobile {
      font-size: 20px;
      line-height: 23px;
    }
    .header-bottom-left > p,
    .header-bottom-right > p {
      font-size: 14px;
    }
    .header-bottom-left > h3,
    .header-bottom-right > h3 {
      font-size: 25px;
    }
    .hamburger {
      right: 20px;
    }
  }
  @media only screen and (max-width: 370px) {
    .header-center-text {
      font-size: 13px;
      line-height: 17px;
    }
  }
  @media (prefers-reduced-motion: reduce) {
    * {
      -webkit-transition: none !important;
      -o-transition: none !important;
      transition: none !important;
    }
  }
</style>
