.icon-Slogan-end-2 {
  width: 6.23em;
  height: 1em;
  fill: none;
}
.icon-Slogan-end-3 {
  width: 6.23em;
  height: 1em;
  fill: none;
}
.icon-Slogan-end {
  width: 6.23em;
  height: 1em;
  fill: auto;
}
.icon-Slogan-start {
  width: 5.96em;
  height: 1em;
  fill: #000;
}

.icon-mail {
  width: 0.86em;
  height: 1em;
  fill: url(#paint0_linear);
}
.icon-telegram {
  width: 0.98em;
  height: 1em;
  fill: url(#paint0_linear);
}
.icon-twitter {
  width: 0.87em;
.icon-join-button {
  width: 1em;
  height: 1em;
  fill: url(#paint0_linear);
}
.icon-kottans-big-citation {
  width: 1.8em;
  height: 1em;
  fill: black;
}
.icon-kottans-gradient {
  width: 1.33em;
  height: 1em;
  fill: white;
}
.icon-kottans-title {
  width: 5.94em;
  height: 1em;
  fill: url(#paint0_linear);
}
