.icon-bird {
  width: 0.78em;
  height: 1em;
  fill: initial;
}
.icon-owl {
  width: 0.68em;
  height: 1em;
  fill: initial;
}
.icon-standart {
  width: 1em;
  height: 1em;
  fill: #241f20;
}
.icon-super-support {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-support {
  width: 1em;
  height: 1em;
  fill: initial;
}
