.icon-dou {
  width: 2.8em;
  height: 1em;
  fill: initial;
}
.icon-innohub {
  width: 1.71em;
  height: 1em;
  fill: url(#line-one);
}
.icon-rr {
  width: 3.91em;
  height: 1em;
  fill: none;
}
.icon-star {
  width: 2.88em;
  height: 1em;
  fill: #fff;
}
